<div class="historias">
    <div class="container">
        <div class="row">
            <div class="historias-header text-center m-4">
                <h1>Formulario de registro de historias Clínicas</h1>
            </div>
            <div class="col-md-6 mx-auto">
                <div class="historias-body">
                    <div class="container">
                        <div class="historias-item">
                            <div class="indi__pacientes--title text-center m-4">
                                <h3>Formulario individual de pacientes</h3>
                            </div>
                            <div class="indi__pacientes--form">
                                <form action="/personal/historias/agregar" method="POST">
                                    <div class="form__section">
                                        <div class="form-group m-2">
                                            <label>Nombre del paciente</label>
                                            <input type="text" name="pacientenombre" class="form-control"
                                                placeholder="Alberto Pérez" autofocus>
                                        </div>
                                        <div class="form-group m-2">
                                            <label>Edad</label>
                                            <input type="int" name="pacienteedad" class="form-control" placeholder="45">
                                        </div>
                                    </div>
                                    <div class="form__section">
                                        <div class="form-group m-2">
                                            <label>EPS</label>
                                            <input type="text" name="pacienteeps" class="form-control"
                                                placeholder="Sura, Colsanitas...">
                                        </div>
                                        <div class="form-group m-2">
                                            <label>Diagnóstico</label>
                                            <input type="text" name="pacientediagnostico" class="form-control"
                                                placeholder="Disnea, Artrosis...">
                                        </div>
                                    </div>
                                    <div class="form__section">
                                        <div class="form-group m-2">
                                            <label>Servicio solicitado</label>
                                            <input type="text" name="pacienteservicio" class="form-control"
                                                placeholder="Acompañamiento, Asesoramiento Jurídico...">
                                        </div>
                                        <div class="form-group m-2">
                                            <label>Contacto del paciente</label>
                                            <input type="int" name="pacientetel" class="form-control"
                                                placeholder="(+57 4) 313 444 44 44">
                                        </div>
                                    </div>
                                    <div class="form__section">
                                        <div class="form-group m-2">
                                            <label>Fecha de Ingreso</label>
                                            <input type="date" name="pacienteingreso" class="form-control"
                                                placeholder="10/9/20">
                                        </div>
                                        <div class="form-group m-2">
                                            <label>Fecha de Salida</label>
                                            <input type="date" name="pacientesalida" class="form-control"
                                                placeholder="10/12/20">
                                        </div>
                                    </div>
                                    <div class="form__section">
                                        <div class="form-group m-2">
                                            <label>Responsable</label>
                                            <input type="text" name="pacienteresponsable" class="form-control"
                                                placeholder="Mónica Pérez...">
                                        </div>
                                        <div class="form-group m-2">
                                            <label>Parentezco</label>
                                            <input type="text" name="pacienteparentezco" class="form-control"
                                                placeholder="Esposa...">
                                        </div>
                                    </div>
                                    <div class="form__section">
                                        <div class="form-group m-2">
                                            <select type="text" name="estado" class="form-select form-select-lg m-2"
                                                style="cursor-pointer" aria-label="Default select example">
                                                <option selected>
                                                    Seleccione estado
                                                </option>
                                                <option value="Activo">
                                                    Activo
                                                </option>
                                                <option value="Inactivo">
                                                    Inactivo
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group m-4">
                                        <button class="btn btn-success m-2">
                                            Guardar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>