<img src="/img/bg/bg-productos.jpg" alt="Inner Nosotros Rodriguez y Betancur" title="Nosotros | Rodriguez y Betancur"
    class="inner__nos">
<img src="/img/inner-nosotros-kino-mob.jpg" alt="Inner Nosotros Rodriguez y Betancur Mobile"
    title="Nosotros | Rodriguez y Betancur" class="inner__mob">

<div class="generic">
    <div class="container">
        <div class="generic__header">
            <h1>Representación Judicial y extrajudicial en Derecho Penal | Rodriguez y Betancur</h1>
        </div>
        <div class="container">
            <div class="body__gen">
                <img src="/img/servicios/servicio-a.jpg" alt="" class="img__gen">
                <p class="txt__gen">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dolore maiores repellendus asperiores
                    quod placeat modi voluptatum perspiciatis magnam tempore, temporibus corporis ipsam ipsa sequi natus
                    a numquam consectetur et!
                </p>
            </div>
        </div>
    </div>
</div>