<div class="perfil">
    <div class="container">
        <div class="card">
            <div class="perfil__header text-center m-4">
                <h1>Bienvenid@ {{user.fullname}}</h1>
                <h1>Al Control Teacompaño</h1>
            </div>
            <div class="perfil__body text-left">
                <div class="subtitle m-4">
                    <h4>Qué deseas hacer hoy? {{user.username}}</h4>
                </div>
                <div class="container m-4">
                    <ul class="menu__control">
                        <li class="control__items">
                            <a href="/control/users" class="control__links">Solicitudes de servicio</a>
                        </li>
                        <li class="control__items">
                            <a href="/control/signup" class="control__links">Registrar súper usuario</a>
                        </li>
                        <li class="control__items">
                            <a href="/control/dia-saludable" class="control__links">Día Saludable</a>
                        </li>
                        <li class="control__items">
                            <a href="/control/enfermeras" class="control__links">Enfermeras</a>
                        </li>
                        <li class="control__items">
                            <a href="/control/historias" class="control__links">Historias Clínicas</a>
                        </li>
                        <li class="control__items">
                            <a href="" class="control__links">Mi perfil (No disponible)</a>
                        </li>
                        <li class="control__items">
                            <a href="/control/logout" class="control__links">Cerrar sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>