@charset "UTF-8";
.footer {
  margin-top: 60px;
  position: relative;
  width: 100%;
  display: block;
  background: #1F1B1D;
  padding: 40px;
}
.footer .container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.footer .container .footer__section {
  text-align: center;
  width: 32%;
}
.footer .container .footer__section .footer__section--footer .address {
  list-style: none;
  padding: 0px;
}
.footer .container .footer__section .footer__section--footer .section--social {
  margin-top: 40px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.footer .container .footer__section .footer__section--footer .section--social li a {
  font-size: 42px;
}
.footer .container .footer__section .footer__section--footer .section--social li .social--link img {
  width: 60px;
  margin: 8px;
}
.footer .container .footer__section .footer__section--footer .section--social li .social--link img:hover {
  transition: all 0.6s;
  opacity: 80%;
}
.footer .container .footer__section .footer__section--body {
  text-align: left;
  display: flex;
  justify-content: center;
}
.footer .container .footer__section .footer__section--body img {
  width: 140px;
  opacity: 60%;
}
.footer .container .footer__section .footer__section--body img:hover {
  transition: all 0.6s;
  opacity: 100%;
}
.footer .container .footer__section .footer__section--body ul {
  width: 40%;
  list-style: none;
  padding: 0px;
}
.footer .container .footer__section .footer__section--body .link__logo--footer {
  display: flex;
  justify-content: center;
}
.footer .container .footer__section .footer__section--body .link__logo--footer .logo__footer {
  width: 120px;
}
.footer .container .footer__section .partner {
  margin: 20px;
}
.footer .container .footer__section .partner a .logo__dev {
  width: 40px;
  margin-left: 10px;
  opacity: 80%;
}
.footer .container .footer__section .partner a .logo__dev:hover {
  transition: all 0.6s;
  opacity: 100%;
}
.footer .container .footer__section .footer__section--title {
  margin-bottom: 20px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .footer {
    padding: 10px;
    text-align: center;
  }
  .footer ul {
    padding: 0px;
  }
  .footer .container {
    display: block;
  }
  .footer .container .footer__section {
    width: 100%;
  }
  .footer .container .footer__section .footer__section--body {
    display: block;
    text-align: center;
  }
  .footer .container .footer__section .footer__section--body .section--sitemap,
.footer .container .footer__section .footer__section--body .section--sitemap--dos {
    width: 100%;
  }
  .footer .container .footer__section .footer__section--footer .section--social {
    display: flex;
  }
}
.highlights {
  margin-top: 140px;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
}
.highlights .section {
  width: 90%;
  display: flex;
  justify-content: center;
  padding-right: 140px;
}
.highlights .section .text__intro {
  width: 40%;
  margin: 40px;
}
.highlights .section .text__intro .boton__registro {
  background: #D4B252;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
}
.highlights .section .text__intro .boton__registro:hover {
  transition: all 0.6s;
  background: #917731;
}
.highlights .section .text__intro .text__intro--title {
  margin: 10px 10px 20px 10px;
}
.highlights .section .text__intro .text__intro--title h3 {
  text-decoration: dashed;
}
.highlights .section .section__intro--img {
  width: 24%;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .highlights .section {
    display: block;
    padding-right: 0px;
  }
  .highlights .section .text__intro {
    width: 100%;
    margin: 0px 0px 20px 0px;
  }
  .highlights .section .section__intro--img {
    width: 100%;
  }
}
.highlights .otc {
  text-align: center;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .highlights .high__title {
    margin-top: 80px;
    margin-left: 0px;
    text-align: center;
  }
  .highlights .high__body {
    margin-top: 180px;
  }
  .highlights .high__body .section .section__img {
    display: none;
  }
  .highlights .high__body .section .section__list .list__part {
    display: block;
  }
  .highlights .otc {
    margin-top: 300px;
  }
}
.cookies,
.privacy {
  margin-top: 80px;
}
.cookies .container,
.privacy .container {
  margin-top: 60px;
}
.cookies .container .cookies__header,
.cookies .container .privacy__header,
.privacy .container .cookies__header,
.privacy .container .privacy__header {
  margin-top: 40px;
}
.cookies .container .cookies__header .container,
.cookies .container .privacy__header .container,
.privacy .container .cookies__header .container,
.privacy .container .privacy__header .container {
  margin-top: 80px;
}
.cookies .container .container,
.privacy .container .container {
  display: flex;
  justify-content: center;
}
.cookies .container .container .privacy__body,
.privacy .container .container .privacy__body {
  width: 80%;
}

.sitemap {
  margin-top: 80px;
}
.sitemap .container {
  margin-top: 60px;
}
.sitemap .container .sitemap__header {
  text-align: center;
}
.sitemap .container .container {
  margin-top: 60px;
  padding-left: 120px;
  display: block;
}
.sitemap .container .container .bodymap {
  margin-top: 60px;
}
.sitemap .container .container .bodymap .sitemap__list {
  padding: 20px;
}
.sitemap .container .container .bodymap .sitemap__list .sitemap__item {
  margin: 20px;
  padding: 8px;
}

.inner__nos {
  width: 100%;
  position: relative;
}

.inner__mob {
  display: none;
}

.nosotros {
  margin-top: 120px;
  height: 936px;
}
.nosotros .fondo__nos {
  width: 100%;
}
.nosotros .container {
  position: relative;
  bottom: 740px;
  width: 40%;
  text-align: end;
  left: 240px;
}
.nosotros .container .nos__title h2 {
  font-size: 38px;
}
.nosotros .container .mision,
.nosotros .container .vision,
.nosotros .container .valores {
  margin: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.15);
}
.nosotros .container .vision {
  position: relative;
  right: 380px;
}
.nosotros .container .valores {
  position: relative;
  right: 660px;
}

.nos .container .nos__header {
  text-align: center;
}
.nos .container .nos__body .nos__body--item .item--title {
  text-align: center;
}
.nos .container .nos__body .nos__body--item .item--body {
  display: flex;
  justify-content: space-between;
  margin: 40px;
  align-items: center;
}
.nos .container .nos__body .nos__body--item .item--body p,
.nos .container .nos__body .nos__body--item .item--body img {
  margin: 20px;
}

@media (min-width: 320px) and (max-width: 1366px) {
  .inner__nos {
    display: none;
  }

  .inner__mob {
    display: block;
    width: 100%;
    position: relative;
  }

  .nosotros {
    display: flex;
    margin-top: 230px;
  }
  .nosotros .fondo__nos {
    display: none;
  }
  .nosotros .container {
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: end;
    left: 0px;
  }
  .nosotros .container .vision,
.nosotros .container .valores {
    right: 0px;
  }

  .nos .container .nos__body .nos__body--item {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .nos .container .nos__body .nos__body--item .item--body {
    display: block;
    margin: 0px;
  }
  .nos .container .nos__body .nos__body--item .item--body img {
    width: 90%;
    margin: 10px 20px;
  }
  .nos .container .nos__body .nos__body--item .item--body p {
    width: 100%;
    text-align: center;
    margin: 0px;
  }
}
.img__ejemplo {
  width: 100%;
}

.ser {
  margin-top: 80px;
  position: relative;
}
.ser .container .ser__header {
  text-align: center;
}
.ser .container .ser__header p {
  margin-top: 16px;
}
.ser .container .ser__body {
  margin-top: 80px;
}
.ser .container .ser__body .container {
  display: block;
}
.ser .container .ser__body .container .ser__item {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.ser .container .ser__body .container .ser__item .serv__img {
  position: relative;
}
.ser .container .ser__body .container .ser__item .serv__img img {
  width: 520px;
}
.ser .container .ser__body .container .ser__item .serv__txt {
  display: block;
  width: 50%;
}
.ser .container .ser__body .container .ser__item .serv__txt .serv__icons img {
  height: 40px;
  margin: 20px;
}
.ser .container .ser__body .container .basics {
  margin-top: 60px;
}
.ser .container .ser__body .container .serv__end {
  margin-top: 80px;
  text-align: center;
  width: 40%;
  margin-left: 30%;
}

.diseno {
  margin-bottom: 80px;
}
.diseno .info__producto {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  margin-top: 40px;
}
.diseno .info__producto .product__img {
  display: flex;
  justify-content: center;
  width: 45%;
  cursor: pointer;
}
.diseno .info__producto .product__img .imgp-producto {
  width: 80%;
}
.diseno .info__producto .product__txt {
  width: 45%;
  display: block;
  padding: 20px;
}
.diseno .info__producto .modal {
  background: #000000e3;
}
.diseno .info__producto .modal .modal-dialog .modal-content {
  background-color: unset;
  color: white;
  border: 0px;
}
.diseno .info__producto .modal .modal-dialog .modal-content .modal-header,
.diseno .info__producto .modal .modal-dialog .modal-content .modal-footer {
  justify-content: space-around;
  border: 0px;
}
.diseno .info__producto .modal .modal-dialog .modal-content .modal-header .icon-cancel,
.diseno .info__producto .modal .modal-dialog .modal-content .modal-footer .icon-cancel {
  font-size: 20px;
  color: white;
}
.diseno .info__producto .modal .modal-dialog .modal-content .modal-header .icon-cancel:hover,
.diseno .info__producto .modal .modal-dialog .modal-content .modal-footer .icon-cancel:hover {
  transition: all 0.6s;
  color: #1F1B1D;
}
.diseno .info__producto .modal .modal-body {
  display: flex;
  justify-content: center;
}
.diseno .info__producto .modal .modal-body img {
  width: 60%;
}

.miga {
  margin-top: 40px;
}

.boton__solicitud {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.boton__solicitud .boton_producto {
  background: #1F1B1D;
  color: #fff;
  border-radius: 12px 0px;
  margin: 20px;
}
.boton__solicitud .boton_producto:hover {
  transition: all 0.6s;
  background: #fff;
  color: #1F1B1D;
}

.generic .container {
  margin-top: 60px;
}
.generic .container .generic__header {
  padding-left: 40px;
}
.generic .container .container {
  margin-top: 80px;
  margin-bottom: 80px;
}
.generic .container .container .body__gen {
  display: flex;
  justify-content: center;
  align-items: center;
}
.generic .container .container .body__gen .txt__gen {
  margin: 20px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .inner__con {
    display: none;
  }

  .ser .container {
    text-align: center;
  }
  .ser .container .ser__body .container .basics {
    text-align: center;
  }
  .ser .container .ser__body .container .ser__item {
    display: block;
  }
  .ser .container .ser__body .container .ser__item .serv__img img {
    width: 100%;
  }
  .ser .container .ser__body .container .ser__item .serv__txt {
    width: 100%;
  }

  .diseno {
    text-align: center;
  }
  .diseno .info__producto {
    display: block;
  }
  .diseno .info__producto .product__img,
.diseno .info__producto .product__txt {
    width: 100%;
    margin-bottom: 40px;
  }
  .diseno .info__producto .modal .modal-body img {
    width: 100%;
  }
  .diseno .info__producto .carousel {
    display: none;
  }
  .diseno .info__producto .carr__mobile {
    display: block;
  }
  .diseno .info__producto .carr__mobile .carousel {
    display: block;
  }
}
.claims {
  margin-top: 120px;
  position: relative;
}
.claims .container {
  display: block;
}
.claims .container .claims__fig {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}
.claims .container .claims__fig .claim-a {
  width: 20%;
  text-align: center;
  cursor: pointer;
}
.claims .container .claims__fig .claim-a .img__claim {
  width: 100px;
  opacity: 68%;
}
.claims .container .claims__fig .claim-a .txt__claim {
  margin-top: 20px;
  opacity: 0%;
}
.claims .container .claims__fig .claim-a:hover .img__claim {
  transition: all 0.6s;
  opacity: 100%;
}
.claims .container .claims__fig .claim-a:hover .txt__claim {
  transition: all 0.6s;
  opacity: 100%;
}
.claims .container .claims__mob {
  display: none;
}

@media (min-width: 320px) and (max-width: 374px) {
  .claims {
    text-align: center;
  }
  .claims .container .claims__fig {
    display: none;
  }
  .claims .container .claims__mob {
    margin-top: 40px;
    display: block;
    text-align: center;
  }
  .claims .container .claims__mob .claim-a {
    margin: 40px 20px 40px 20px;
  }
  .claims .container .claims__mob .claim-a .img__claim {
    width: 80px;
  }
}
@media (min-width: 375px) and (max-width: 409px) {
  .claims {
    text-align: center;
  }
  .claims .container .claims__fig {
    display: none;
  }
  .claims .container .claims__mob {
    margin-top: 40px;
    display: block;
    text-align: center;
  }
  .claims .container .claims__mob .claim-a {
    margin: 40px 20px 40px 20px;
  }
  .claims .container .claims__mob .claim-a .img__claim {
    width: 80px;
  }
}
@media (min-width: 410px) and (max-width: 539px) {
  .claims {
    text-align: center;
  }
  .claims .container .claims__fig {
    display: none;
  }
  .claims .container .claims__mob {
    margin-top: 40px;
    display: block;
    text-align: center;
  }
  .claims .container .claims__mob .claim-a {
    margin: 40px 20px 40px 20px;
  }
  .claims .container .claims__mob .claim-a .img__claim {
    width: 80px;
  }
}
@media (min-width: 540px) and (max-width: 767px) {
  .claims {
    text-align: center;
  }
  .claims .container .claims__fig {
    display: none;
  }
  .claims .container .claims__mob {
    margin-top: 40px;
    display: block;
    text-align: center;
  }
  .claims .container .claims__mob .claim-a {
    margin: 40px 20px 40px 20px;
  }
  .claims .container .claims__mob .claim-a .img__claim {
    width: 80px;
  }
}
.howto {
  z-index: 1;
  margin-top: 80px;
}
.howto .howto__body {
  margin-top: 60px;
}
.howto .howto__body .container {
  text-align: center;
}
.howto .howto__body .container .howto__list {
  display: flex;
  justify-content: space-evenly;
}
.howto .howto__body .container .howto__list .howto__item {
  list-style: none;
  width: 24%;
}
.howto .howto__body .container .howto__list .howto__item .howto__img {
  width: 110px;
  margin-bottom: 20px;
}

.payment {
  margin-top: 80px;
}
.payment .payment__body {
  margin-top: 60px;
}
.payment .payment__body .container {
  display: flex;
}

.diseno {
  margin-top: 80px;
  position: relative;
}
.diseno ul {
  list-style: none;
  padding: 0px;
}
.diseno .container {
  margin-top: 40px;
  padding-left: 0px;
}
.diseno .container .diseno__title {
  margin-top: 40px;
}
.diseno .container .diseno__body {
  margin-top: 60px;
}
.diseno .container .diseno__body .ser__subtitle {
  margin-top: 40px;
}
.diseno .container .diseno__body .container {
  margin-bottom: 60px;
}
.diseno .container .diseno__body .container .diseno__body--dos .carousel .carousel-inner .carousel-item .ser__item {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.diseno .container .diseno__body .container .diseno__body--dos .carousel .carousel-inner .carousel-item .ser__item .serv__img {
  position: relative;
}
.diseno .container .diseno__body .container .diseno__body--dos .carousel .carousel-inner .carousel-item .ser__item .serv__img img {
  width: 520px;
}
.diseno .container .diseno__body .container .diseno__body--dos .carousel .carousel-inner .carousel-item .ser__item .serv__txt {
  display: block;
  width: 50%;
}
.diseno .container .diseno__body .container .diseno__body--dos .carousel .carousel-inner .carousel-item .ser__item .serv__txt .serv__icons img {
  height: 40px;
  margin: 20px;
}

@font-face {
  font-family: "fontello";
  src: url("../font/fontello.eot?23416528");
  src: url("../font/fontello.eot?23416528#iefix") format("embedded-opentype"), url("../font/fontello.woff2?23416528") format("woff2"), url("../font/fontello.woff?23416528") format("woff"), url("../font/fontello.ttf?23416528") format("truetype"), url("../font/fontello.svg?23416528#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?23416528#fontello') format('svg');
  }
}
*/
[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  /* speak: never; */
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-heart:before {
  content: "\e800";
}

/* '' */
.icon-chat:before {
  content: "\e801";
}

/* '' */
.icon-down-open:before {
  content: "\e802";
}

/* '' */
.icon-left-open:before {
  content: "\e803";
}

/* '' */
.icon-right-open:before {
  content: "\e804";
}

/* '' */
.icon-up-open:before {
  content: "\e805";
}

/* '' */
.icon-plus-circled:before {
  content: "\e806";
}

/* '' */
.icon-trash-1:before {
  content: "\e807";
}

/* '' */
.icon-trash-empty:before {
  content: "\e808";
}

/* '' */
.icon-trash-2:before {
  content: "\e809";
}

/* '' */
.icon-contrast:before {
  content: "\e80a";
}

/* '' */
.icon-adjust:before {
  content: "\e80b";
}

/* '' */
.icon-adjust-1:before {
  content: "\e80c";
}

/* '' */
.icon-pencil:before {
  content: "\e80d";
}

/* '' */
.icon-home:before {
  content: "\e80e";
}

/* '' */
.icon-home-1:before {
  content: "\e80f";
}

/* '' */
.icon-picture:before {
  content: "\e810";
}

/* '' */
.icon-phone:before {
  content: "\e811";
}

/* '' */
.icon-briefcase:before {
  content: "\e812";
}

/* '' */
.icon-location:before {
  content: "\e813";
}

/* '' */
.icon-mail:before {
  content: "\e814";
}

/* '' */
.icon-adult:before {
  content: "\e815";
}

/* '' */
.icon-videocam:before {
  content: "\e816";
}

/* '' */
.icon-video:before {
  content: "\e817";
}

/* '' */
.icon-link:before {
  content: "\e818";
}

/* '' */
.icon-cancel:before {
  content: "\e819";
}

/* '' */
.icon-twitter:before {
  content: "\f099";
}

/* '' */
.icon-menu:before {
  content: "\f0c9";
}

/* '' */
.icon-user-md:before {
  content: "\f0f0";
}

/* '' */
.icon-medkit:before {
  content: "\f0fa";
}

/* '' */
.icon-youtube-play:before {
  content: "\f16a";
}

/* '' */
.icon-trash:before {
  content: "\f1f8";
}

/* '' */
.icon-whatsapp:before {
  content: "\f232";
}

/* '' */
.icon-facebook-circled:before {
  content: "\f30d";
}

/* '' */
.icon-instagram:before {
  content: "\f32d";
}

/* '' */
.section__map {
  margin-top: 20px;
}
.section__map .map__body {
  margin-top: 40px;
  margin-bottom: 0px;
  height: 740px;
}
.section__map .map__body iframe {
  width: 100%;
  height: 520px;
}
.section__map .map__body .mp-section {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 68%;
  padding: 10px 80px 10px 10px;
  z-index: 1;
}
@media (min-width: 320px) and (max-width: 768px) {
  .section__map .map__body .mp-section {
    padding: 10px;
  }
}
.section__map .map__body .mp-section .map__txt--box {
  background: #1F1B1D;
  color: #fff;
  width: 440px;
  height: 460px;
  padding: 40px;
  text-align: center;
  border-radius: 20px 0px 20px 0px;
}
.section__map .map__body .mp-section .map__txt--box .container {
  color: #fff;
}
.section__map .map__body .mp-section .map__txt--box .container .call__section {
  padding: 0px 0px 0px 96px;
  list-style: none;
  text-align: left;
}
.section__map .map__body .mp-section .map__txt--box .container .call__section li {
  list-style: none;
  color: #fff;
}
.section__map .map__body .mp-section .map__txt--box .container .call__section li:hover {
  transition: all 0.6s;
  color: #fff;
}
.section__map .map__body .mp-section .map__txt--box .container .call__section li a {
  color: #fff;
  margin-left: 4px;
}
.section__map .map__body .mp-section .map__txt--box .container .call__section li a:hover {
  transition: all 0.6s;
  color: #fff;
}
.section__map .map__body .mp-section .map__txt--box .container .email__map {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.section__map .map__body .mp-section .map__txt--box .container .email__map a {
  color: #fff;
}
.section__map .map__body .mp-section .map__txt--box .container .email__map a:hover {
  transition: all 0.6s;
  color: #fff;
}
.section__map .map__body .mp-section .map__txt--box .boton__registro {
  background: #D4B252;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  margin: 10px 10px 40px 10px;
}
.section__map .map__body .mp-section .map__txt--box .boton__registro:hover {
  transition: all 0.6s;
  background: #917731;
}
.section__map .map__body .mp-section .map__txt--box .modal .modal-dialog .modal-content {
  color: black;
}
.section__map .map__body .mp-section .map__txt--box .modal .modal-dialog .modal-content .modal-header {
  text-align: center;
}
.section__map .map__body .mp-section .map__txt--box .modal .modal-dialog .modal-content .modal-body {
  text-align: left;
}
.section__map .map__body .mp-section .map__txt--box .modal .modal-dialog .modal-content .modal-body .form__req {
  margin: 40px;
}
.section__map .map__body .mp-section .map__txt--box .modal .modal-dialog .modal-content .modal-body .form__req form {
  display: block;
}
.section__map .map__body .mp-section .map__txt--box .modal .modal-dialog .modal-content .modal-body .form__req form .section__form {
  display: flex;
  justify-content: space-evenly;
}
.section__map .map__body .mp-section .map__txt--box .modal .modal-dialog .modal-content .modal-body .form__req form .mb-3 a {
  color: #fff;
}
.section__map .map__body .mp-section .map__txt--box .modal .modal-dialog .modal-content .modal-body .form__req form .mb-3 a:hover {
  transition: all 0.6s;
  color: #1F1B1D;
}
@media (min-width: 1024px) and (max-width: 1920px) {
  .section__map .map__body .mp-section .map__txt--box {
    left: 920px;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .boton_mapa {
    background: #fff;
    color: #1F1B1D;
    border-radius: 12px 0px;
    padding: 4px;
    margin-top: 16px;
  }
  .boton_mapa:hover {
    transition: all 0.6s;
    background: #fff;
  }
}
.con {
  margin-top: 60px;
}
.con .container {
  margin-top: 40px;
}
.con .container .con__header {
  text-align: center;
}

.videoblog {
  display: flex;
  justify-content: center;
}
.videoblog .container {
  margin-top: 40px;
  margin-bottom: 40px;
}
.videoblog .container .vb__title {
  text-align: center;
}
.videoblog .container .vb__body {
  margin-top: 60px;
}
.videoblog .container .vb__body .vb__section {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
.videoblog .container .vb__body .vb__section .vb__item {
  background: #0c0e0f52;
  border-radius: 8px;
  width: 28%;
  margin: 4px;
  display: block;
  text-align: center;
  padding: 4px;
}
.videoblog .container .vb__body .vb__section .vb__item:hover {
  transition: all 0.6s;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
}
.videoblog .container .vb__body .vb__section .vb__item img {
  width: 240px;
}
.videoblog .container .vb__body .vb__section .vb__item p {
  font-size: 16px;
  margin-bottom: 0px;
}
.videoblog .container .vb__body .vb__section .vb__item .item__tit,
.videoblog .container .vb__body .vb__section .vb__item .item__bod,
.videoblog .container .vb__body .vb__section .vb__item .item__foot {
  margin: 4px;
  padding: 4px;
}
.videoblog .container .vb__body .vb__section .vb__item .item__tit p,
.videoblog .container .vb__body .vb__section .vb__item .item__bod p,
.videoblog .container .vb__body .vb__section .vb__item .item__foot p {
  font-size: 16px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .videoblog .container .vb__body .vb__section {
    display: block;
  }
  .videoblog .container .vb__body .vb__section .vb__item {
    margin-top: 20px;
    width: 100%;
  }
}
.blog__detalle .container {
  background: #0c0e0f52;
  padding: 40px;
  margin-bottom: 60px;
}
.blog__detalle .container .bd__title {
  text-align: center;
}
.blog__detalle .container .bd__body {
  padding: 40px;
  display: block;
}
.blog__detalle .container .bd__body .bd__video {
  display: flex;
}
.blog__detalle .container .bd__body .bd__video iframe {
  width: 790px;
  height: 444px;
}
.blog__detalle .container .bd__body .bd__video .espacio__publicitario {
  border: 1px solid #27292b;
  padding: 20px;
  display: block;
}
.blog__detalle .container .bd__body .bd__video .espacio__publicitario .partner {
  border: 1px solid #27292b;
  height: 46%;
  padding: 10px;
  margin: 10px;
}
.blog__detalle .container .bd__footer p {
  font-size: 16px;
}
.blog__detalle .container .bd__footer ul {
  display: flex;
  list-style: none;
  padding: 0px;
}
.blog__detalle .container .bd__footer .container {
  padding: 40px;
  border-radius: 12px;
}
.blog__detalle .container .bd__footer .container .bd__info {
  color: #27292b;
  font-size: 14px;
}
.blog__detalle .container .bd__footer .container .bd__hash .list__hash .item__hash {
  margin-left: 20px;
}
.blog__detalle .container .bd__footer .container .bd__desc {
  width: 70%;
}
.blog__detalle .container .bd__footer .container .bd__kw .kw__list .kw__item {
  margin-left: 20px;
}
.blog__detalle .container .bd__footer .container .bd__share {
  font-size: 24px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .blog__detalle .container {
    padding: 20px 4px 4px 4px;
  }
  .blog__detalle .container .bd__body {
    padding: 20px 4px 4px 4px;
  }
  .blog__detalle .container .bd__body .bd__video {
    display: block;
  }
  .blog__detalle .container .bd__body .bd__video iframe {
    width: 100%;
  }
  .blog__detalle .container .bd__footer .container .bd__hash {
    display: block;
  }
  .blog__detalle .container .bd__footer .container .bd__hash .list__hash {
    display: block;
  }
  .blog__detalle .container .bd__footer .container .bd__hash .list__hash .item__hash {
    margin-left: 4px;
  }
  .blog__detalle .container .bd__footer .container .bd__kw {
    display: block;
  }
  .blog__detalle .container .bd__footer .container .bd__kw .kw__list {
    display: block;
  }
  .blog__detalle .container .bd__footer .container .bd__kw .kw__list .kw__item {
    margin-left: 4px;
  }
}
body {
  background: #fff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.icon-menu {
  color: #D4B252;
  font-size: 34px;
}

.menu {
  background: #1F1B1D;
  position: sticky;
  top: 0px;
  z-index: 3;
  height: 120px;
}
.menu .container {
  background: #1F1B1D;
  height: 120px;
}
.menu .container img {
  width: 220px;
  margin: 10px;
  padding: 4px;
}
.menu .container .social .social__menu {
  list-style: none;
  display: flex;
  justify-content: end;
}
.menu .container .social .social__menu .social__item a {
  color: #fff;
  padding: 10px;
  font-size: 24px;
}
.menu .container .social .social__menu .social__item a:hover {
  transition: all 0.6s;
  color: #D4B252;
}

.carousel__videomob {
  display: none;
}

.carousel__desk .cta__bg {
  position: absolute;
  width: 600px;
  height: 160px;
  top: 90%;
  left: 14%;
  color: #fff;
  text-align: initial;
  font-size: 34px;
  padding: 10px 20px 20px 20px;
  border: 4px solid white;
  cursor: pointer;
}
.carousel__desk .cta__bg .bg__catalogo {
  display: flex;
  opacity: 0%;
}
.carousel__desk .cta__bg .bg__catalogo p {
  width: 640px;
  display: flex;
}
.carousel__desk .cta__bg .bg__txt {
  text-align: center;
}
.carousel__desk .cta__bg .bg__txt h2 {
  display: block;
  align-items: center;
  margin-bottom: 0px;
  font-size: 24px;
  text-align: initial;
}
.carousel__desk .cta__bg .bg__txt h2 p {
  margin-bottom: 0px;
}
.carousel__desk .cta__bg .bg__txt h2 .modernas {
  margin-left: 8px;
  font-size: 74px;
}
.carousel__desk .cta__bg:hover {
  color: #1F1B1D;
  transition: all 0.6s;
  border: 4px solid #1F1B1D;
  height: 186px;
}
.carousel__desk .cta__bg:hover .bg__txt {
  transition: all 0.6s;
  background: #27292b;
}
.carousel__desk .cta__bg:hover .bg__catalogo {
  opacity: 100%;
}
.carousel__desk .cta__bg:hover .bg__catalogo p {
  color: #fff;
}

.icon-home,
.icon-briefcase,
.icon-picture,
.icon-video,
.icon-phone {
  color: #fff;
}
.icon-home:hover,
.icon-briefcase:hover,
.icon-picture:hover,
.icon-video:hover,
.icon-phone:hover {
  transition: all 0.6s;
  color: #D4B252;
}

.masthead img {
  width: 100%;
  opacity: 10%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.sticky-wp {
  position: fixed;
  display: flex;
  right: 12px;
  justify-content: end;
  align-items: center;
  bottom: 90px;
  z-index: 1;
}
.sticky-wp .icon-whatsapp {
  opacity: 30%;
  font-size: 70px;
  color: #917731;
  display: flex;
  position: relative;
  right: -180px;
}
.sticky-wp .icon-whatsapp p {
  font-size: 16px;
  padding-top: 16px;
  opacity: 0%;
  position: relative;
  right: 310px;
  top: 6px;
}
.sticky-wp .icon-whatsapp:hover {
  transition: all 0.6s;
  color: #D4B252;
  opacity: 100%;
}
.sticky-wp .icon-whatsapp:hover p {
  opacity: 100%;
}

.masthead_nos {
  background: url(/img/background.jpg);
  width: 100%;
  height: 356%;
  opacity: 20%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.static__bg .bg__static {
  width: 100%;
  opacity: 76%;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  transition: all 0.4s;
  color: #917731;
  text-decoration: none;
}

.strong__aq {
  color: #1F1B1D;
}

.carousel__mob {
  display: none;
}

.backg {
  width: 100%;
  opacity: 20%;
  position: absolute;
  z-index: 0;
}

.backg__mobile {
  display: none;
}

.inner__con {
  position: relative;
  width: 100%;
}

.ados {
  color: #fff;
  text-decoration: none;
}
.ados:hover {
  transition: all 0.4s;
  color: #740000;
  text-decoration: none;
}

.logo-menu {
  width: 200px;
}

.divisor {
  width: 100%;
  background: #27292b;
  height: 280px;
  position: absolute;
}

.intro {
  padding: 40px 20px 20px 20px;
  margin-top: 20px;
  height: 960px;
}
.intro .intro__img {
  z-index: 1;
  display: flex;
  justify-content: center;
}
.intro .intro__img iframe {
  width: 96%;
  z-index: 1;
  margin: 20px;
  height: 720px;
}
.intro .intro__txt {
  position: relative;
  bottom: 600px;
  z-index: 1;
  text-align: left;
  width: 40%;
  padding-left: 10%;
  display: block;
}
.intro .intro__txt .intro__logo {
  width: 540px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .intro .intro__txt .intro__logo {
    width: 220px;
  }
}
.intro .intro__txt .intro__content {
  width: 100%;
}
.intro .intro__txt .intro__content .intro__button .link__but {
  background: #D4B252;
  color: #fff;
  padding: 8px;
  margin: 0px 0px 0px 0px;
  border-radius: 4px;
  width: 120px;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.51);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.51);
}
.intro .intro__txt .intro__content .intro__button .link__but:hover {
  transition: all 0.4s;
  background: #1F1B1D;
  color: #D4B252;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .intro .container .intro__txt {
    width: 100%;
  }
  .intro .container .intro__txt .intro__content {
    width: 100%;
  }
}

.intro__dos {
  color: black;
  text-align: center;
  font-size: 28px;
  width: 100%;
}
.intro__dos .intro__body {
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}
.intro__dos .intro__body .section {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.intro__dos .intro__body .section .section__intro {
  margin: 20px;
  padding: 10px;
  width: 30%;
  display: flex;
  justify-content: center;
}
.intro__dos .intro__body .section .section__intro .intro__img {
  width: 380px;
}
.intro__dos .intro__body .section .section__intro .intro__txt {
  position: absolute;
  width: 320px;
  top: 1540px;
  font-weight: bold;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .intro__dos .intro__body .section {
    display: block;
  }
  .intro__dos .intro__body .section .section__intro {
    width: 90%;
  }
}

.users__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.users__menu .icono__iniciar {
  height: 20px;
  margin-left: 12px;
}
.users__menu .icono__iniciar:hover {
  transition: all 0.6s;
  opacity: 80%;
}
.users__menu .icono__registrar {
  height: 22px;
  margin-left: 12px;
}
.users__menu .icono__registrar:hover {
  transition: all 0.6s;
  opacity: 80%;
}

.boton_mapa {
  background: #fff;
  color: #1F1B1D;
  border-radius: 12px 0px;
  padding: 4px;
  margin-top: 16px;
}
.boton_mapa:hover {
  transition: all 0.6s;
  background: #fff;
}

.opcion {
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 140px;
  text-align: center;
}
.opcion .section {
  width: 90%;
}
.opcion .section .opcion__intro {
  margin: 40px;
}
.opcion .section .opcion__intro .opcion__title {
  margin: 40px;
}
.opcion .section .opcion__body {
  display: flex;
  justify-content: center;
}
.opcion .section .opcion__body .body__item {
  color: #fff;
  width: 30%;
  padding: 12px;
  display: flex;
  justify-content: center;
}
.opcion .section .opcion__body .body__item .item__img img {
  width: 80%;
}
.opcion .section .opcion__body .body__item .item__text {
  position: absolute;
  padding: 10px;
  width: 21%;
  height: 524px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
@media (min-width: 1920px) and (max-width: 2920px) {
  .opcion .section .opcion__body .body__item .item__text {
    height: 524px;
    width: 20.5%;
  }
}
@media (min-width: 320px) and (max-width: 1919px) {
  .opcion .section .opcion__body .body__item .item__text {
    height: 412px;
    width: 20.5%;
  }
}
.opcion .section .opcion__body .body__item .item__text:hover {
  transition: all 0.6s;
  background: rgba(0, 0, 0, 0.2);
}
.opcion .section .opcion__body .body__item .item__text .item__text--png img {
  width: 30%;
}
.opcion .section .opcion__body .body__item .item__text .boton__registro {
  background: #D4B252;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
}
.opcion .section .opcion__body .body__item .item__text .boton__registro:hover {
  transition: all 0.6s;
  background: #917731;
}
.opcion .section .opcion__body .body__item .item__text .item__text--txt {
  margin: 86px 0px 86px 0px;
}
@media (min-width: 1024px) and (max-width: 1920px) {
  .opcion .section .opcion__body .body__item .item__text .item__text--txt {
    margin: 20px 0px 20px 0px;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .opcion .section {
    width: 100%;
  }
  .opcion .section .opcion__body {
    display: block;
  }
  .opcion .section .opcion__body .body__item {
    width: 100%;
  }
  .opcion .section .opcion__body .body__item .item__img img {
    width: 100%;
  }
  .opcion .section .opcion__body .body__item .item__text {
    width: 100%;
    height: 65.8%;
  }
}

.tania {
  height: 580px;
}
.tania .foto__tania {
  width: 100%;
}
.tania .container {
  display: block;
  position: relative;
  bottom: 380px;
  text-align: center;
}
.tania .container .logo__tania {
  width: 320px;
}
.tania .container .tania__frase {
  width: 90%;
  color: #fff;
  margin: 40px;
  padding: 40px;
  font-size: 26px;
}

.requisitos {
  margin: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.requisitos .container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #27292b;
  color: #fff;
  padding: 60px;
  height: 440px;
}
.requisitos .container .req__img {
  width: 320px;
  margin: 40px;
}
.requisitos .container .req__body .req__title {
  text-align: center;
}
.requisitos .container .req__body .req__list .req__item {
  margin-top: 20px;
}
.requisitos .container .req__body .boton__registro {
  background: #D4B252;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin: 30px;
}
.requisitos .container .req__body .boton__registro:hover {
  transition: all 0.6s;
  background: #917731;
}

.testi {
  margin-top: 160px;
}
.testi .section .testi__intro {
  color: black;
  text-align: center;
}
.testi .section .testi__body {
  height: 560px;
  margin-top: 60px;
}
.testi .section .testi__body .carousel-inner {
  height: 480px;
}
.testi .section .testi__body .carousel-inner .carousel-item .content {
  display: flex;
  justify-content: center;
}
.testi .section .testi__body .carousel-inner .carousel-item .content .d-block {
  width: 320px;
}
.testi .section .testi__body .carousel-inner .carousel-item .content .carousel-caption {
  color: black;
  margin-top: 260px;
  top: 80px;
  height: 80px;
}

.modal-backdrop {
  z-index: 0;
}

.solicitud {
  margin-top: 80px;
  position: relative;
}
.solicitud .container .sol__body {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}
.solicitud .container .sol__body .body__section {
  width: 30%;
  text-align: center;
}
.solicitud .container .sol__body .body__section a .sol__img {
  margin: 20px;
  opacity: 80%;
}
.solicitud .container .sol__body .body__section a .sol__img:hover {
  transition: all 0.4s;
  opacity: 100%;
}

.slogan {
  text-align: center;
  position: relative;
  color: #1F1B1D;
}
.slogan .container .slogan__txt {
  font-size: 30px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .menu .container {
    height: auto;
  }
  .menu .navbar-nav {
    margin: 60px 0px 60px 0px;
  }
  .menu .navbar-nav a {
    margin: 20px 0px 20px 0px;
  }

  .menu_redes {
    background: #D4B252;
    width: 100%;
    height: 110px;
    align-items: center;
    position: sticky;
    text-align: center;
    top: 0px;
    z-index: 2;
  }
  .menu_redes .container {
    display: block;
    justify-content: space-between;
    text-align: center;
  }
  .menu_redes .container .mr__title {
    padding: 6px 4px 4px 4px;
  }
  .menu_redes .container .mr__title h1 {
    font-size: 20px;
  }
  .menu_redes .container .mr__social {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
  }
  .menu_redes .container .mr__social .social__title {
    padding: 8px 4px 4px 4px;
  }
  .menu_redes .container .mr__social .social__bar {
    display: none;
  }
  .menu_redes .container .mr__social .social__bar .icon-facebook-circled,
.menu_redes .container .mr__social .social__bar .icon-instagram,
.menu_redes .container .mr__social .social__bar .icon-whatsapp,
.menu_redes .container .mr__social .social__bar .icon-location,
.menu_redes .container .mr__social .social__bar .icon-youtube-play {
    width: 36px;
    padding: 6px 4px 4px 4px;
    color: #fff;
    font-size: 26px;
  }
  .menu_redes .container .mr__social .social__bar .icon-facebook-circled:hover,
.menu_redes .container .mr__social .social__bar .icon-instagram:hover,
.menu_redes .container .mr__social .social__bar .icon-whatsapp:hover,
.menu_redes .container .mr__social .social__bar .icon-location:hover,
.menu_redes .container .mr__social .social__bar .icon-youtube-play:hover {
    transition: all 0.6s;
    color: #fff;
  }

  .carousel__videomob {
    display: block;
  }
  .carousel__videomob iframe {
    border: 0;
    width: 100%;
    height: 490px;
  }

  .static__bg {
    display: none;
  }

  .carousel__desk {
    display: none;
  }

  .carousel__mob {
    display: block;
  }

  .backg {
    display: none;
  }

  .backg__mobile {
    display: block;
    width: 100%;
    opacity: 20%;
    position: absolute;
    z-index: 0;
  }

  .intro {
    position: relative;
    text-align: center;
    padding: 0px;
    height: 820px;
  }
  .intro .container {
    display: block;
  }
  .intro .container .intro__img img {
    width: 20%;
    margin: 0px;
  }
  .intro .container .intro__txt {
    width: 100%;
  }
  .intro .container .intro__txt img {
    width: 10%;
  }

  .intro__dos .intro__body .section .section__intro .intro__txt {
    position: absolute;
    width: 90%;
    top: auto;
    font-weight: bold;
    padding-top: 80%;
  }

  .solicitud .container .sol__title {
    text-align: center;
  }
  .solicitud .container .sol__body {
    display: block;
  }
  .solicitud .container .sol__body .body__section {
    width: 100%;
  }

  .section__map .container {
    text-align: center;
  }
  .section__map .map__body {
    margin-top: 40px;
    margin-bottom: 0px;
    height: 740px;
    display: contents;
    padding: 0px;
  }

  .inner__con {
    display: none;
  }

  .modal .modal-dialog .modal-content .modal-body .form__req {
    width: 100%;
    margin: 10px 0px 0px 0px;
  }
  .modal .modal-dialog .modal-content .modal-body .form__req form .section__form {
    display: block;
  }

  .divisor {
    height: 120px;
  }
}

/*# sourceMappingURL=estilos.css.map */
