{{!-- Miga de pan --}}
<div class="miga">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/videoblog">VideoBlog (Inicio)</a></li>
                <li class="breadcrumb-item active" aria-current="page">Video Uno</li>
            </ol>
        </nav>
    </div>
</div>

<div class="blog__detalle">
    <div class="container">
        <div class="bd__title">
            <h1>Nombre del video</h1>
            <p><i>Descripción breve del video</i></p>
        </div>
        <div class="bd__body">
            <div class="bd__video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/HArFItNydkw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="espacio__publicitario">
                    <div class="partner">
                        <p>Hola, soy una empresa patrocinadora</p>
                    </div>
                    <div class="partner">
                        <p>Hola, soy otra empresa patrocinadora</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bd__footer">
            <div class="container">
                <p class="bd__info">
                    <i>Producido y publicado en Medellín a las 10:00 p.m.</i>
                </p>
                <div class="bd__hash">
                    <ul class="list__hash">
                        <li class="item__hash">
                            <a href="" class="link__item">#cortinas</a>
                        </li>
                        <li class="item__hash">
                            <a href="" class="link__item">#persianas</a>
                        </li>
                        <li class="item__hash">
                            <a href="" class="link__item">#interiores</a>
                        </li>
                        <li class="item__hash">
                            <a href="" class="link__item">#tutorialinteriores</a>
                        </li>
                    </ul>
                </div>
                <div class="bd__desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta perferendis at debitis voluptas
                        nesciunt atque voluptatibus delectus a in quo vero iste iusto sint vel similique quas,
                        perspiciatis dolor hic.</p>
                </div>
                <div class="bd__kw">
                    <ul class="kw__list">
                        <li class="kw__item">
                            <a href="" class="kw__link">Cortinas</a>
                        </li>

                        <li class="kw__item">
                            <a href="" class="kw__link">Persianas</a>
                        </li>

                        <li class="kw__item">
                            <a href="" class="kw__link">Interiores</a>
                        </li>

                        <li class="kw__item">
                            <a href="" class="kw__link">Tutorial</a>
                        </li>
                    </ul>
                </div>
                <div class="bd__share">
                    <p><strong>Comparte ahora mismo:</strong></p>
                    <ul class="social__share">
                        <li class="social__item">
                            <a href="" class="icon-facebook-circled"></a>
                        </li>
                        <li class="social__item">
                            <a href="" class="icon-whatsapp"></a>
                        </li>
                        <li class="social__item">
                            <a href="" class="icon-twitter"></a>
                        </li>
                        <li class="social__item">
                            <a href="" class="icon-link"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>