<!--Footer-->
<div class="footer">
    <div class="container text-center">
        <div class="footer__section">
            <div class="fss-header">
                <h4>Servicios</h4>
            </div>
            <div class="fss-body">
                <ul>
                    <li><a href="/servicios/enfermeria-domicilio" title="Servicios Teacompaño" rel="dofollow">Cuidados de enfermería en el
                            domicilio</a></li>
                    <li><a href="/servicios/enfermeria-intrahospitalario" title="Servicios Teacompaño" rel="dofollow">Cuidados de
                            enfermería<br>intrahospitalario y postquirúrgico</a></li>
                    <li><a href="/servicios/consulta-medica" title="Servicios Teacompaño" rel="dofollow">Consulta médica general en
                            el domicilio</a></li>
                    <li><a href="/servicios/acompanamiento-citas-medicas" title="Servicios Teacompaño" rel="dofollow">Acompañamiento a citas
                            médicas</a></li>
                    <li><a href="/servicios/asesoria-juridica-salud" title="Servicios Teacompaño" rel="dofollow">Asesoría Jurídica en
                            salud</a></li>
                    <li><a href="/politica-privacidad" title="Servicios Teacompaño" rel="dofollow">Política de privacidad</a></li>
                    <li><a href="/politica-cookies" title="Servicios Teacompaño" rel="dofollow">Política de cookies</a></li>
                </ul>
            </div>
        </div>

        <div class="footer__section">
            <div class="section__contacts">
                <div class="fcont-header">
                    <h4>Contacto</h4>
                </div>
                <div class="whats">
                    <a href="https://api.whatsapp.com/send?phone=573106384443&text=Hola, me gustaría recibir mayor información sobre los servicios Teacompaño. Gracias."
                        title="Mensaje por Whatsapp" target="_blank" rel="nofollow">
                        <img src="/img/whats.png" alt="">310 6384443</a>
                </div>
                <div class="email">
                    <a href="mailto:enfermeria@teacompaño.com.co" title="Email Teacompaño" target="_blank" rel="nofollow"><img
                            src="/img/mail.png" alt="">enfermeria@teacompaño.com.co</a>
                </div>
                <div class="tel">
                    <a href="callto:+57442554201" title="Contacto Teacompaño" target="_blank" rel="nofollow"><img src="/img/tel.png"
                            alt="">(+57) 4 255 4201</a>
                </div>
            </div>
            <div class="section__social">
                <div class="fcont-hsocial">
                    <h4>Síguenos</h4>
                </div>
                <div class="social">
                    <div class="face">
                        <a href="https://www.facebook.com/teacompano.sas/" title="Facebook Teacompaño" target="_blank" rel="nofollow">
                            <img src="/img/face.png" alt=""></a>
                    </div>
                    <div class="insta">
                        <a href="https://www.instagram.com/teacompano/" title="Instagram Teacompaño" target="_blank" rel="nofollow">
                            <img src="/img/insta.png" alt=""></a>
                    </div>
                    <div class="twitt">
                        <a href="https://twitter.com/te_acompano" title="Twitter Teacompaño" target="_blank" rel="nofollow">
                            <img src="/img/twit.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer__section">
            <div class="hseclog">
                <h4>Teacompaño</h4>
            </div>
            <div class="logo-footer">
                <a href="/" title="Teacompaño" rel="dofollow">
                    <img src="/img/logo-web.png" alt="">
                </a>

                <a href="https://play.google.com/store/apps/details?id=com.tresdiseno.farmashops&hl=es&gl=US" target="_blank" rel="nofollow">
                    <img class="logo-appstore" src="/img/socios/logo-appstore.png" alt="">
                </a>
            </div>
            <div class="dir-footer">
                <a href="https://goo.gl/maps/gvJH62TcfCKNkuFz6" title="Encuéntranos en maps" target="_blank" rel="nofollow">
                    <img src="/img/map.png" alt="" style="width: 24px; margin-right: 20px;">Cl. 1B #66-94, Medellín -
                    Antioquia
                </a>
            </div>
        </div>
    </div>
    <div class="derechos">
        <div class="container">
            <p>Todos los derechos reservados <a href="https://www.k1n0.com.co/" target="_blank" rel="nofollow">K1N0COM</a> - Medellín 2020</p>
        </div>
    </div>
</div>
<!--Fin Footer-->