{{!-- Footer --}}

<div class="footer">
    <div class="container">
        <div class="footer__section">
            <div class="footer__section--title">
                <h4>Mapa de sitio</h4>
            </div>
            <div class="footer__section--body">
                <ul class="section--sitemap">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/#nosotros">Nosotros</a></li>
                    <li><a href="/#servicios">Servicios</a></li>
                    <li><a href="/#contacto">Contacto</a></li>
                </ul>
                <ul class="section--sitemap--dos">
                    <li><a href="/cookies">Política de Cookies</a></li>
                    <li><a href="/privacy">Política de Privacidad</a></li>
                    <li><a href="/sitemap">Mapa de sitio</a></li>
                </ul>
            </div>
        </div>

        <div class="footer__section">
            <div class="footer__section--title">
                <h4>Contacto</h4>
            </div>
            <div class="footer__section--footer">
                <ul class="address">
                    <li>
                        <a href="https://wa.link/fg65o7" target="_blank" rel="nofollow">301 744 53 27</a>
                    </li>
                    <li>
                        <a href="https://goo.gl/maps/tpAqRKGpsqmBGUxu7" target="_blank" rel="nofollow">Zona Estadio - Medellín, Antioquia</a>
                    </li>
                </ul>
                <ul class="section--social">
                    <li>
                        <a class="icon-facebook-circled" target="_blank" rel="nofollow"
                            href="https://www.facebook.com/PREGO-Studios-100371821826202"></a>
                    </li>
                    <li>
                        <a class="icon-instagram" target="_blank" rel="nofollow"
                            href="https://www.instagram.com/studioprego/"></a>
                    </li>
                    <li>
                        <a class="icon-youtube-play" target="_blank" rel="nofollow"
                            href="https://www.youtube.com/channel/UCK6-6dmwpFukE3BzaOZlU9A"></a>
                    </li>
                    <li>
                        <a class="icon-location" target="_blank" rel="nofollow"
                            href="https://goo.gl/maps/tpAqRKGpsqmBGUxu7"></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer__section">
            <div class="footer__section--title">
                <h4>Estudios Prego</h4>
            </div>
            <div class="footer__section--body">
                <a class="link__logo--footer" href="/">
                    <img src="/img/logo-prego.png" alt="Logo Estudios Prego | Estudios Webcam en Medellín"
                        title="Logo | Estudios Prego | Estudios Webcam en Medellín" class="logo__footer">
                </a>
            </div>
            <div class="partner">
                <strong>Desarrollo: </strong>
                <a href="https://www.k1n0.com.co/" rel="nofollow" target="_blank">
                    <img src="/img/logo-intro-black.png" alt="" class="logo__dev">
                </a>
            </div>
        </div>

    </div>

    <div class="container">
        <p class="footer__right">
            Todos los derechos reservados - Estudios Prego | Estudios Webcam en Medellín
        </p>
    </div>

</div>