{{!-- Carrusel --}}
{{!-- <div class="carousel__desk">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/bg/rybabogados-bg-a.jpg" class="d-block w-100"
                    alt="Prego Studio"
                    title="Productos | Prego Studio">
            </div>
            <div class="carousel-item">
                <img src="/img/bg/rybabogados-bg-b.jpg" class="d-block w-100"
                    alt="Prego Studio"
                    title="Productos | Prego Studio">
            </div>
            <div class="carousel-item">
                <img src="/img/bg/rybabogados-bg-c.jpg" class="d-block w-100"
                    alt="Prego Studio"
                    title="Productos | Prego Studio">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="cta__bg">
        <a href="/#servicios" class="bg__txt">
            <h2>
                <p class="strong__aq">Abogados Especialistas</p>
                <p class="modernas">Derecho Penal</p>
            </h2>

            <div class="bg__catalogo">
                <p>Consulte nuestros servicios</p>
                <div class="icon-right-open"></div>
            </div>
        </a>
    </div>
</div>

<div class="carousel__videomob">
    <iframe src="https://www.youtube.com/embed/4ZjFUQeIngA" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div> --}}
<div class="divisor"></div>
{{!-- Fin Imágen de fondo --}}

{{!-- Intro --}}
<div class="intro">
    <div class="intro__img">
        <img src="/img/intro-models.jpg" alt="Prego Studio"
            title="Prego Studio">
    </div>
    <div class="container">

        <div class="intro__txt">
            <img src="/img/logo-prego.png" alt="" class="intro__logo">
            <div class="intro__content">
                <div class="txt__header">
                    <h1>Estudios Prego</h1>
                    <h3>Modelos Webcam</h3>
                    <p><i>Trabajando juntos para superar tus metas</i></p>
                </div>
                <div class="intro__button">
                    <a href="/registro-prego" class="link__but">Únete ahora</a>
                </div>
            </div>
        </div>
    </div>
    <div class="servicios__link" id="servicios"></div>
</div>
{{!-- Fin Intro --}}

{{!-- Destacados --}}
<div class="highlights">
    <div class="high__title">
        <h2>Representación Legal en Derecho Penal</h2>
    </div>

    <div class="high__body">
        <div class="section">
            <div class="section__img">
                <img src="/img/bg/bg-servicios-home.jpg" alt="">
            </div>
            <ul class="section__list">
                <div class="list__part">
                    <li class="section__item">
                        <a href="/asesoria-derecho-penal" class="item__link">Asesoría general en Derecho Penal</a>
                    </li>
                    <li class="section__item">
                        <a href="/delitos-administracion-publica" class="item__link">Delitos contra la Administración
                            Pública</a>
                    </li>
                    <li class="section__item">
                        <a href="/estrategias-derecho-penal" class="item__link">Estrategias integrales del proceso
                            penal</a>
                    </li>
                    <li class="section__item">
                        <a href="/recursos-apelacion-derecho-penal" class="item__link">Recursos de apelación</a>
                    </li>
                </div>
                <div class="list__part">
                    <li class="section__item">
                        <a href="/representacion-judicial-extrajudicial" class="item__link">Representación judicial y
                            extrajudicial en el proceso penal</a>
                    </li>
                    <li class="section__item">
                        <a href="/representacion-voluntaria-ante-autoridades" class="item__link">Representación
                            voluntaria ante las autoridades</a>
                    </li>
                </div>
                <div class="list__part">
                    <li class="section__item">
                        <a href="/redaccion-presentacion-denuncias" class="item__link">Redacción y presentación de
                            denuncias</a>
                    </li>
                    <li class="section__item">
                        <a href="/recursos-extraordinarios-casacion" class="item__link">Recursos extraordinarios de
                            casación</a>
                    </li>
                    <li class="section__item">
                        <a href="/representacion-ante-tribunales-cortes" class="item__link">Representación ante
                            tribunales y altas cortes</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    {{!-- <p class="otc">Si encontraste lo que buscas<br>ingresa y pídelo <a href="/signup">Aquí</a></p> --}}
</div>
{{!-- Fin Destacados --}}

{{!-- Nosotros --}}
<div class="nosotros">
    <img class="fondo__nos" src="/img/bg/bg-nosotros-home.jpg" alt="">
    <div class="container">
        <div class="nos__title">
            <h2>Destacamos</h2>
            <h3>
                <p>Por nuestro <strong class="strong__aq">compromiso</strong> con todas las personas del país</p>
            </h3>
        </div>
        <div class="nos__body">
            <div class="mision">
                <div class="mis__title">
                    <h3>Misión</h3>
                </div>
                <p>
                    Brindamos una <strong class="strong__aq">representación legal</strong> y profesional en <strong
                        class="strong__aq">procesos penales</strong>, con abogados calificados y
                    capacitados con <strong class="strong__aq">herramientas jurídicas</strong> que respaldan su
                    situación legal y la <strong class="strong__aq">defensa de sus derechos</strong>
                    en cualquier lugar del país.
                </p>
            </div>

            <div class="vision">
                <div class="vis__title">
                    <h3>Visión</h3>
                </div>
                <p>
                    Para el <strong class="strong__aq">2025</strong> seremos reconocidos en <strong
                        class="strong__aq">Colombia y en Latinoamérica</strong> como <strong class="strong__aq">los
                        abogados más capacitados y profesionales</strong> y con la más alta calidad en procesamiento de
                    recursos y herramientas
                    para <strong class="strong__aq">defender los derechos</strong> en cualquier situación que requiera
                    una <strong class="strong__aq">representación legal para la defensa penal</strong>.
                </p>
            </div>

            <div class="valores">
                <div class="vis__title">
                    <h3>Valores</h3>
                </div>
                <p>
                    Fundamentamos nuestro trabajo en los valores del <strong class="strong__aq">humanismo</strong>, la
                    <strong class="strong__aq">transparencia</strong> y la <strong class="strong__aq">justicia</strong>,
                    independiente de la situación de nuestros clientes, para hacer <strong class="strong__aq">respetar
                        sus derechos</strong>, amparados en
                    la <strong class="strong__aq">responsabilidad</strong> de un trabajo <strong
                        class="strong__aq">serio y profesional</strong>.
                </p>
            </div>
        </div>
    </div>
</div>
{{!-- Fin Asesoría --}}

{{!-- Claims --}}
<div class="claims">
    <div class="container">
        <div class="claims__title">
            <h2>Valores que acreditan nuestro trabajo</h2>
        </div>

        <div class="claims__fig">
            <div class="claim-a">
                <img src="/img/claims/leyes.png" alt="Claim Conocimiento"
                    title="Conocimiento | Prego Studio" class="img__claim">
                <p class="txt__claim">Conocimiento actualizado de la normatividad del Derecho Penal.</p>
            </div>

            <div class="claim-a">
                <img src="/img/claims/conocimiento.png" alt="Claim Conocimiento"
                    title="Calidad | Prego Studio" class="img__claim">
                <p class="txt__claim">Trabajo transparente con calidad humana.</p>
            </div>

            <div class="claim-a">
                <img src="/img/claims/profesional.png" alt="Claim Innova"
                    title="Innovación | Prego Studio" class="img__claim">
                <p class="txt__claim">Abogados profesionales con experiencia en el país.</p>
            </div>
        </div>

        {{!-- Claims Móvil --}}

        <div class="claims__mob">
            <div class="claim-a">
                <img src="/img/claims/leyes.png" alt="Claim Asesoría"
                    title="Asesoramiento | Prego Studio" class="img__claim">
                <p class="txt__claim">Conocimiento actualizado de la normatividad del Derecho Penal.</p>
            </div>

            <div class="claim-a">
                <img src="/img/claims/conocimiento.png" alt="Claim Calidad"
                    title="Calidad | Prego Studio" class="img__claim">
                <p class="txt__claim">Trabajo transparente con calidad humana.</p>
            </div>

            <div class="claim-a">
                <img src="/img/claims/profesional.png" alt="Claim Innova"
                    title="Innovación | Prego Studio" class="img__claim">
                <p class="txt__claim">Abogados profesionales con experiencia en el país.</p>
            </div>
        </div>
        <div id="contacto"></div>
    </div>
</div>
{{!-- Fin Claims --}}

{{!-- Sección Mapa --}}
<div class="section__map">
    <div class="container">
        <div class="map__title">
            <h2>Encuéntranos fácilmente</h2>
            <p>Cada vez más cerca de ti</p>
        </div>
    </div>
    <div class="map__body">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15864.437678135911!2d-75.5669018!3d6.2493101!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbd153b04eb7f6249!2sRodriguez%20%26%20Betancur!5e0!3m2!1ses!2sco!4v1630266603462!5m2!1ses!2sco"
            style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="map__txt--box">
            <div class="container">
                <h3>Estamos ubicados en <strong>Medellín</strong></h3>

                <p>
                    <br><strong>Visítanos</strong><br>
                    O pide una asesoría con nosotros<br>
                    <br><strong>Líneas de atención</strong>
                </p>
                <ul class="call__section">
                    {{!-- <li class="icon-phone"><a href="" class="item__link">301 634 42 39</a></li> --}}
                    <li class="icon-whatsapp"><a href="https://wa.link/c2pmhc" target="_blank" rel="nofollow"
                            class="item__link">313 247 06 82</a></li>
                    <li class="icon-whatsapp"><a href="https://wa.link/c2pmhc" target="_blank" rel="nofollow"
                            class="item__link">319 564 29 54</a></li>
                </ul>
                <div class="email__map">
                    <a href="mailto:info@rybabogados.com" rel="nofollow" target="_blank"
                        class="icon-mail">info@rybabogados.com</a>
                </div>
            </div>

            <button type="button" class="boton_mapa" data-bs-toggle="modal" data-bs-target="#exampleModal">
                ¡Escríbenos Ahora!
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Formulario de solicitud</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <i>* Completa los datos del formulario y nos pondremos en contacto para concretar la
                                entrega.</i>

                            <div class="form__req">
                                {{> sent}}
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button class="boton_mapa" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- Fin Sección Mapa --}}

{{!-- Botón whatsapp directo --}}
<div class="sticky-wp">
    <a href="" class="icon-whatsapp" rel="nofollow" target="_blank" href="https://wa.link/fiun5w">
        <p>Escríbenos por WhatsApp</p>
    </a>
</div>