{{!-- Carrusel --}}
<div class="divisor"></div>
{{!-- Fin Imágen de fondo --}}

{{!-- Intro --}}
<div class="intro">
    <div class="intro__img">
        {{!-- <img src="/img/intro-models.jpg" alt="Prego Studio" title="Prego Studio"> --}}
        <iframe src="https://www.youtube.com/embed/fwl3hy3iFwY" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>


    <div class="intro__txt">
        <img src="/img/logo-prego.png" alt="" class="intro__logo">
        <div class="intro__content">
            <div class="txt__header">
                <h1>Estudios Prego</h1>
                <h3>Modelos Webcam</h3>
                <p><i>Trabajando juntos para superar tus metas</i></p>
            </div>
            <div class="intro__button">
                <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" class="link__but">Únete ahora</a>
            </div>
        </div>
    </div>
    <div class="servicios__link" id="servicios"></div>
</div>
{{!-- Fin Intro --}}

{{!-- Intro Dos --}}
<div class="intro__dos">
    <div class="intro__header">
        <h2 class="intro__dos--title">
            Modelos Webcam en Medellín
        </h2>
    </div>

    <div class="intro__body">
        <div class="section">
            <div class="section__intro">
                <img src="/img/modelos/prego-model-12.jpg" alt="" class="intro__img">
                <p class="intro__txt">
                    Administra tus propios horarios de trabajo
                </p>
            </div>

            <div class="section__intro">
                <img src="/img/modelos/prego-model-15.jpeg" alt="" class="intro__img">
                <p class="intro__txt">
                    Alcanza tus sueños y metas como modelo profesional
                </p>
            </div>

            <div class="section__intro">
                <img src="/img/modelos/prego-model-13.jpg" alt="" class="intro__img">
                <p class="intro__txt">
                    Genera ingresos haciendo lo que te gusta
                </p>
            </div>
        </div>
    </div>
</div>
{{!-- Intro Dos --}}

{{!-- Destacados --}}
<div class="highlights">
    <div class="section">
        <div class="text__intro">
            <div class="text__intro--title">
                <h3>¿Quiénes somos?</h3>
            </div>
            <div class="text__intro--text">
                <P>
                    Somos una empresa legalmente constituida, dedicada al entretenimiento para adultos a través de
                    plataformas (canales) digitales, contamos con más de 2 años de experiencia en la industria del
                    Modelaje Web Cam.<br>

                    <br>Nos hemos caracterizado por el profesionalismo, compromiso, seriedad y
                    confidencialidad con nuestras modelos.<br>

                    <br><strong>Modelos Webcam Medellín</strong><br>
                </P>
            </div>
            <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" class="boton__registro">Comienza ahora
                mismo!</a>
        </div>
        <img src="/img/modelos/prego-model-20.jpg" alt="" class="section__intro--img">
    </div>
    {{!-- <p class="otc">Si encontraste lo que buscas<br>ingresa y pídelo <a href="/signup">Aquí</a></p> --}}

</div>
{{!-- Fin Destacados --}}

{{!-- Opción --}}
<div class="opcion">
    <div class="section">
        <div class="opcion__intro">
            <div class="opcion__title">
                <h3>El mejor lugar para crecer y aprender</h3>
            </div>
            <div class="opcion__text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque perferendis amet ipsa vitae,
                    velit
                    itaque ipsum? Repudiandae placeat eaque iure quibusdam quisquam, molestias voluptates quo
                    accusantium
                    dolore, hic quasi ipsam?</p>
            </div>
        </div>

        <div class="opcion__body">
            <div class="body__item">
                <div class="item__img">
                    <img src="/img/casa/prego-casa-b.jpg" alt="">
                </div>
                <div class="item__text">
                    <div class="item__text--png">
                        <img src="/img/claims/claim-razon.png" alt="">
                    </div>
                    <div class="item__text--txt">
                        <h3 class="item__text--title">Qué hacemos</h3>
                        <p>Brindamos capacitación, acompañamiento y todas las herramientas necesarias para tener un buen
                            posicionamiento en las principales plataformas de modelaje webcam en la industria.</p>
                    </div>
                    <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" class="boton__registro">Conoce los
                        requisitos</a>
                </div>
            </div>

            <div class="body__item">
                <div class="item__img">
                    <img src="/img/modelos/prego-model-18.jpg" alt="">
                </div>
                <div class="item__text">
                    <div class="item__text--png">
                        <img src="/img/claims/claim-tiempo.png" alt="">
                    </div>
                    <div class="item__text--txt">
                        <h3 class="item__text--title">Trabaja con nosotros</h3>
                        <p>Esta es una de las industrias más rentables en la actualidad y muchas personas
                            intentan incursionar en ella, pero solo triunfan quienes se lo toman realmente en
                            serio.</p>
                    </div>
                    <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" class="boton__registro">Conoce los
                        requisitos</a>
                </div>
            </div>

            <div class="body__item">
                <div class="item__img">
                    <img src="/img/casa/prego-casa-n.jpg" alt="">
                </div>
                <div class="item__text">
                    <div class="item__text--png">
                        <img src="/img/claims/claim-insta.png" alt="">
                    </div>
                    <div class="item__text--txt">
                        <h3 class="item__text--title">Instalaciones</h3>
                        <p>Contamos con cómodas instalaciones dotadas con tecnología de última generación, y con lo
                            necesario para ofrecerte un espacio agradable para generar tus propios ingresos.
                        </p>
                    </div>
                    <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" class="boton__registro">Conoce los
                        requisitos</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- Fin Opcion --}}

{{!-- Testimonios --}}
<div class="testi">
    <div class="section">
        <div class="testi__intro">
            <div class="testi__title">
                <h3>Testimonios</h3>
            </div>
            <div class="testi__text">
                <p>Conoce las experiencias de nuestros modelos destacados.</p>
            </div>
        </div>
        <div class="testi__body">

            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="content">
                            <img src="/img/opiniones/steven.png" class="d-block" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="content">
                            <img src="/img/opiniones/valentin.png" class="d-block" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="content">
                            <img src="/img/opiniones/zyon.png" class="d-block" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
{{!-- Fin Testimonios --}}

{{!-- Sección Mapa --}}
<div class="section__map">
    <div class="container">
        <div class="map__title">
            <h2>Encuéntranos fácilmente</h2>
            <p>Cada vez más cerca de ti</p>
        </div>
    </div>
    {{!-- https://www.youtube.com/embed/yAM29kXwyYU?start=1 --}}
    <div class="map__body">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37731.79070162727!2d-75.60522931021315!3d6.255043079941636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44290e99a6e195%3A0x9ec0a1f4596fadd4!2sLaureles%20-%20Estadio%2C%20Medell%C3%ADn%2C%20Antioquia!5e0!3m2!1ses!2sco!4v1631637520455!5m2!1ses!2sco"
            style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="mp-section">
            <div class="map__txt--box">
                <div class="container">
                    <h3>Estamos ubicados en <strong>Medellín</strong></h3>

                    <p>
                        <br><strong>Visítanos</strong><br>
                        O pide una asesoría con nosotros<br>
                        <br><strong>Líneas de atención</strong>
                    </p>
                    <ul class="call__section">
                        {{!-- <li class="icon-phone"><a href="" class="item__link">301 634 42 39</a></li> --}}
                        <li class="icon-whatsapp"><a href="https://wa.link/fg65o7" target="_blank" rel="nofollow"
                                class="item__link">301 744 53 27</a></li>
                    </ul>
                    <div class="email__map">
                        <a href="mailto:estudiosprego@gmail.com" rel="nofollow" target="_blank"
                            class="icon-mail">estudiosprego@gmail.com</a>
                    </div>
                </div>

                <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" class="boton__registro">¡Escríbenos
                    Ahora!</a>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Formulario de solicitud</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <i>* Completa los datos del formulario y nos pondremos en contacto para concretar el
                                    registro.</i>

                                <div class="form__req">
                                    {{> sent}}
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="boton_mapa" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- Fin Sección Mapa --}}

{{!-- Botón whatsapp directo --}}
<div class="sticky-wp">
    <a href="" class="icon-whatsapp" rel="nofollow" target="_blank" href="https://wa.link/fg65o7">
        <p>Escríbenos por WhatsApp</p>
    </a>
</div>