<div class="bg__mobile">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/bg/bg-teacompano-mob-a.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/bg/bg-teacompano-mob-b.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/bg/bg-teacompano-mob-c.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/bg/bg-teacompano-mob-d.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="bg-trans">
                <img src="/img/bg/bg-teacompano-mob-op.png" class="" alt="">
                <a class="bg-link" href="/servicios">Ver más</a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>

<img src="/img/bg/bg-teacompano-03.jpg" class="inner--bg" alt="">
<div class="slogan">
    <div class="container text-center p-4">
        <h3>Su bienestar nuestro objetivo. Su tranquilidad nuestra responsabilidad</h3>
    </div>
</div>