{{!-- Menu --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/logo-web.png" alt="teacompano" class="log">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="margin-left: auto;">
                <ul class="navbar-nav mx-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="dia-saludable/">Día saludable</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/personal">Access</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
{{!-- Fin Menu --}}