{{!-- Menu --}}

<div class="menu">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/img/logo-prego.png" alt="Rodriguez y Betancur | Abogados Penalistas en Medellín"
                        title="Logo | Rodriguez y Betancur | Abogados Penalistas en Medellín" class="logo-menu">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon icon-menu"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav" style="margin-left: auto;">
                        <a class="nav-link" aria-current="page" href="/">
                            <div class="icon-home">
                                Inicio
                            </div>
                        </a>
                        <a class="nav-link" aria-current="page" href="/nosotros">
                            <div class="icon-briefcase">
                                Nosotros
                            </div>
                        </a>
                        <a class="nav-link" aria-current="page" href="/#requisitos">
                            <div class="icon-picture">
                                Únete
                            </div>
                        </a>
                        <a class="nav-link" aria-current="page" href="/#beneficios">
                            <div class="icon-video">
                                Beneficios
                            </div>
                        </a>
                        <a class="nav-link" aria-current="page" href="/#contacto">
                            <div class="icon-phone">
                                Contacto
                            </div>
                        </a>

                        <div class="social">
                            <ul class="social__menu">
                                <li class="social__item"><a href="https://www.facebook.com/PREGO-Studios-100371821826202" class="icon-facebook-circled"></a></li>
                                <li class="social__item"><a href="https://www.instagram.com/studioprego/" class="icon-instagram"></a></li>
                                <li class="social__item"><a href="https://www.youtube.com/channel/UCK6-6dmwpFukE3BzaOZlU9A" class="icon-youtube-play"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

{{!-- Fin Menu --}}