{{> inner}}

<div class="privacy">
    <div class="container">
        <div class="privacy__header">
            <h1>Política de Privacidad | Teacompaño</h1>
        </div>
        <div class="container">
            <div class="privacy__body">
                <p>
                    En <strong>Teacompaño</strong>, valoramos La privacidad y confianza de nuestros clientes son y asegurarnos que tengan
                    conocimiento que la privacidad y protección de sus datos personales de acuerdo a nuestra Política de Privacidad
                    y en estricto acatamiento a la <i>Resolución 2256 de 2020 sobre Política de Seguridad y Privacidad de la Información</i>,
                    incluyendo la <i>Resolución 924 de 2020 sobre Políticas de Tratamiento de Datos Personales del Ministerio de las TIC</i>
                    sobre las <strong>Condiciones de uso</strong> del sitio web <strong><a href="https://www.teacompaño.com.co/">teacompaño.com.co</a></strong>,
                    a efecto de garantizar la privacidad y el derecho a la protección de los datos de las personas.<br>
                    
                    <br><h3>Responsables del uso de datos personales | Teacompaño</h3>
                    
                    <br>En representación de la Agencia de Comunicación Digital Teacompaño S.A.S., firma <strong>Lina Marcela Múnera Bedoya</strong>,
                    en la ciudad de Medellín el 15 de febrero de 2021, con registro en la <strong>Calle 1B #66-94</strong><br><br>

                    <br><h3>Condiciones de uso de datos | Teacompaño</h3>

                    <br>Los datos personales de los usuarios registrados en la web <strong><a href="https://www.teacompaño.com.co/">Teacompaño</a></strong>
                    serán necesarios para cumplir con los objetivos planteados para prestar servicios de Comunicación Digital a toda clase de empresas
                    industriales, comerciales o de servicios.<br><br>

                    <br><h3>Medios de atención | Teacompaño</h3>

                    <br>En caso de que alguno de nuestros usuarios sienta que el tratamiento de sus datos personales, así como cualquier otro derecho 
                    ha sido vulnerado, o que han sido utilizados para otros fines, favor de presentar una solicitud por escrito dirigida a nuestro
                    Departamento Jurídico a través del siguiente correo electrónico:<br><br>
                    <ul>
                        <li>Teacompaño: <a href="mailto:enfermeria@teacompano.com.co" target="_blank" rel="nofollow">enfermeria@teacompano.com.co</a>
                        </li>
                    </ul>
                    <br><br>
                </p>
            </div>
        </div>
    </div>
</div>