<form action="/clients/add" method="POST" class="form_req">
    <div class="section__form">
        <div class="form-group">
            <div class="mb-3">
                <label class="form-label">Nombre completo:</label>
                <input type="text" class="form-control" name="nombre">
            </div>
            <div class="mb-3">
                <label class="form-label">Correo electrónico:</label>
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label class="form-label">Teléfono:</label>
                <input type="text" name="telefono" class="form-control">
                <div id="emailHelp" class="form-text">Tus datos no serán compartidos con
                    terceros.</div>
            </div>
        </div>
        <div class="form-group">
            <div class="mb-3">
                <label class="form-label">Descripción</label>
                <textarea name="descripcion" rows="7" class="form-control"></textarea>
            </div>
        </div>
    </div>
    {{!-- <div class="mb-3 form-check">
        <input type="checkbox" name="check[]" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label">He leído y acepto la <a href="/privacidad">Política de privacidad</a></label>
    </div> --}}
    <div class="form-group text-center">
        <button type="submit" class="boton_mapa">Enviar</button>
    </div>
</form>