<div class="slogan">
    <div class="container">
        <p class="slogan__txt">Rodriguez y Betancur | Abogados <strong class="strong__aq">Especialistas</strong> y <strong class="strong__aq">profesionales</strong> en Colombia</p>
    </div>
</div>