<div class="slogan">
    <div class="container">
        <p class="slogan__txt">Estudios Prego | <strong class="strong__aq">Modelos Webcam</strong> en <strong class="strong__aq">Medellín</strong></p>
    </div>
</div>