<div class="wp-button">
    <a href="https://api.whatsapp.com/send?phone=573106384443&text=Hola, me gustaría recibir mayor información sobre los servicios Teacompaño. Gracias.">
        <img src="/img/whats-button.png" alt="">
    </a>
</div>