<div class="miga__pan container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/control">Control</a></li>
            <li class="breadcrumb-item"><a href="/control/dia-saludable">Artículos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nombre del artículo</a></li>
        </ol>
    </nav>
</div>

<div class="agregar__blog">
    <div class="container">
        <div class="blog__header">
            <h3>Agrega un artículo al Blog de Teacompaño</h3>
        </div>

        <div class="formulario__blog">
            <div class="container m-6">
                <form action="/control/dia-saludable/agregar" method="POST">
                    <div class="base__blog">
                        <h3>Información básica</h3>
                        <div class="form-group">
                            <label>Tema</label>
                            <input type="text" name="tema" class="form-control m-4 w-50" placeholder="sólo 1 palabra">
                        </div>
                        <div class="form-group">
                            <label>URL de la imágen (*)</label>
                            <input type="text" name="urlimg" class="form-control m-4 w-50" placeholder="1080 x 720 px">
                        </div>
                        <div class="form-group">
                            <label>URL de la miniatura (*)</label>
                            <input type="text" name="miniatura" class="form-control m-4 w-50" placeholder="286 x 200 px">
                        </div>
                        <div class="form-group">
                            <label>Pie de foto (*)</label>
                            <input type="text" name="piefoto" class="form-control m-4 w-50" placeholder="65 Caracteres Máx.">
                        </div>
                        <div class="form-group">
                            <label>Enlace (*)</label>
                            <input type="text" name="enlace" class="form-control m-4 w-50" placeholder="asi-va-el-enlace">
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label>Título del artículo</label>
                        <input type="text" name="titulo" class="form-control m-4 w-50" placeholder="H1">
                    </div>
                    <div class="form-group">
                        <label>Subtítulo</label>
                        <input type="text" name="subtitulo" class="form-control m-4 w-50" placeholder="H3">
                    </div>
                    <div class="paragraphs">
                        <h3>Agrega los párrafos del artículo</h3>
                        <div class="form-group">
                            <label>Párrafo 1</label>
                            <input type="text" name="subtitleone" class="form-control m-4 w-50" placeholder="H2">
                            <textarea name="paraguno" cols="30" rows="10" class="form-control m-4 w-50"
                                placeholder="500 Caracteres"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Párrafo 2</label>
                            <input type="text" name="subtitledos" class="form-control m-4 w-50" placeholder="H2">
                            <textarea name="paragdos" cols="30" rows="10" class="form-control m-4 w-50"
                                placeholder="500 Caracteres"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Párrafo 3</label>
                            <input type="text" name="subtitletres" class="form-control m-4 w-50" placeholder="H2">
                            <textarea name="paragtres" cols="30" rows="10" class="form-control m-4 w-50"
                                placeholder="500 Caracteres"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Párrafo 4</label>
                            <input type="text" name="subtitlecuatro" class="form-control m-4 w-50" placeholder="H2">
                            <textarea name="paragcuatro" cols="30" rows="10" class="form-control m-4 w-50"
                                placeholder="500 Caracteres"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Párrafo 5</label>
                            <input type="text" name="subtitlecinco" class="form-control m-4 w-50" placeholder="H2">
                            <textarea name="paragcinco" cols="30" rows="10" class="form-control m-4 w-50"
                                placeholder="500 Caracteres"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Párrafo 6</label>
                            <input type="text" name="subtitleseis" class="form-control m-4 w-50" placeholder="H2">
                            <textarea name="paragseis" cols="30" rows="10" class="form-control m-4 w-50"
                                placeholder="500 Caracteres"></textarea>
                        </div>

                    </div>

                    <div class="atributos__blog">
                        <h3>Atributos</h3>
                        <div class="form-group">
                            <label>Autor</label>
                            <input type="text" name="autor" class="form-control m-4 w-50" placeholder="H4">
                        </div>

                        <div class="form-group">
                            <label>Ciudad</label>
                            <input type="text" name="city" class="form-control m-4 w-50" placeholder="H4">
                        </div>

                    </div>
                    <div class="form-group m-4">
                        <button class="btn btn-danger">
                            Enviar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>