<div class="acceso__control">
    <div class="container">
        <div class="access__ctrl">
            <div class="ctrl__title m-4 text-center">
                <h4>Teacompaño</h4>
                <h1>Control Administrativo</h1>
            </div>
            <div class="ctrl__body">
                <div class="col-md-4 mx-auto">
                    <div class="card m-4">
                        <div class="card-title m-4 text-center">
                            <h3>Inicia sesión para continuar</h3>
                        </div>
                        <div class="card-body">
                            <div class="img-form">
                                <img src="/img/logo-web.png" alt="" class="card-img-top">
                            </div>
                            <form action="/control/" method="POST">
                                <div class="form-group m-4">
                                    <label class="form-label">Usuario</label>
                                    <input type="text" name="username" id="" class="form-control">
                                </div>
                                <div class="form-group m-4">
                                    <label class="form-label">Password</label>
                                    <input type="password" name="password" id="" class="form-control">
                                </div>
                                <div class="form-group m-4">
                                    <button class="btn btn-success">Acceder</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>