<div class="miga__pan container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/control">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Registro de enfermeras</a></li>
        </ol>
    </nav>
</div>

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card-header">
                <h3>Registro de Enfermeras</h3>
            </div>
            <div class="card-body">
                <form action="/control/nurse-signup" method="POST">
                    <div class="form-group m-4">
                        <label class="form-label">Nombre completo</label>
                        <input type="text" name="nombre" id="" class="form-control" placeholder="Juan Andrés" autofocus>
                    </div>
                    <div class="form-group m-4">
                        <label class="form-label">Nombre de acceso</label>
                        <input type="text" name="enfermera" id="" class="form-control" placeholder="Juanjo09">
                    </div>
                    <div class="form-group m-4">
                        <label class="form-label">Password</label>
                        <input type="password" name="pass" id="" class="form-control" placeholder="**********">
                    </div>
                    <div class="form-group m-4">
                        <button class="btn btn-danger">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>