.claims {
  display: block;
  .container {
    .hclaims {
      text-align: center;
    }

    .bclaims {
      display: flex;
      justify-content: space-around;
      margin-top: 40px;
      margin-right: 40px;
      .claim-a,
      .claim-b,
      .claim-c {
        text-align: center;
        a {
          color: $mor;
          text-decoration: none;
          p {
            opacity: 0%;
            margin: 10px;
          }
          img {
            width: 80px;
            &:hover {
              transition: all 0.6s;
              opacity: 80%;
            }
          }

          &:hover {
            transition: all 0.6s;
            p {
              opacity: 100%;
              transition: all 0.6s;
              color: $morb;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .claims {
    display: none;
  }
}
