a {
    color: $morc;
    &:hover {
        color: $morb;
    }
}

.acceso__control {
    .container {
        .access__ctrl {
            .ctrl__body {
                .col-md-4 {
                    .card {
                        .card-body {
                            .img-form {
                                display: flex;
                                justify-content: center;
                                img {
                                    width: 30%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.users__table {
    .container {
        .users__title {
            margin: 60px;
        }

        .row {
            margin: 40px;
        }
    }
    a {
        color: black;
        text-decoration: none;
        &:hover {
            transition: all 0.6s;
            color: $morb;
        }
    }

    .container {
        .row {
            table {
                tbody {
                    td {
                        ul {
                            list-style: none;
                            padding: 0px;
                            display: flex;
                            .list__item {
                                margin: 4px;
                                font-size: 18px;
                                .icon-trash-1 {
                                    &:hover {
                                        color: $red;
                                    }
                                }

                                .icon-pencil {
                                    color: $mor;
                                    &:hover {
                                        color: $morb;
                                    }
                                }

                                .icon-plus-circled {
                                    &:hover {
                                        color: $green;
                                    }
                                }
                            }

                            .modal {
                                .modal-dialog {
                                    .modal-content {
                                        .modal-body {
                                            ul {
                                                display: block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.users__table--mob {
    display: none;
    a {
        color: $mor;
        text-decoration: none;
        &:hover {
            transition: all 0.6s;
            color: $morb;
        }
    }
    .container {
        text-align: center;
        .row {
            justify-content: center;
            .card {
                color: black;
                width: 100%;
                padding: 20px;
                .card-body {
                    .container {
                        .listado__usuario {
                            list-style: none;
                            padding: 0px;
                            .usuario__item {
                                margin: 10px;
                                .container {
                                    .user__list {
                                        list-style: none;
                                        padding: 0px;
                                        display: flex;
                                        justify-content: center;
                                    }
                                }
                            }
                            .item--flex {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                p {
                                    margin: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.perfil {
    .container {
        display: block;
        justify-content: center;
        margin: 80px;
        .card {
            .perfil__body {
                .subtitle {
                    padding-left: 100px;
                }
                .container {
                    .menu__control {
                        list-style: none;
                        padding: 0px;
                        .control__items {
                            margin: 10px;
                            .control__links {
                                color: $mor;
                                text-decoration: none;
                                &:hover {
                                    transition: all 0.6s;
                                    color: $morb;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.historia__individiual {
    .container {
        .paciente__info {

            .paciente__header {
                .alerta {
                    p {
                        font-size: 14px;
                    }
                    width: 40%;
                    position: inherit;
                }
            }

            .paciente__body {
                .table {
                    tbody {
                        a {
                            color: $mor;
                            text-decoration: none;
                            &:hover {
                                color: $morb;
                                transition: all .6s;
                            }
                        }
                    }
                }
            }
        }
    }
}

.container {
    .btn {
        margin: 20px;
    }
    .blogs__info {
        a {
            color: $mor;
            text-decoration: none;
            &:hover {
                color: $morb;
                transition: all .6s;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 1080px) {
    .users__table {
        display: none;
    }

    .users__table--mob {
        display: block;
    }

    .perfil {
        .container {
            margin: 0px;
            .card {
                .perfil__body {
                    .subtitle {
                        padding-left: 22px;
                    }
                }
            }
        }
    }
}
