.dia__saludable {
    a {
        color: $morb;
        text-decoration: none;
        &:hover {
            color: $morc;
            transition: all 0.6s;
        }
    }

    .container {
        .listado__blogs {
            list-style: none;
            padding: 30px;

            li {
                list-style: none;
            }
        }

        .container {
            .listado__articulos {
                display: flex;
                .card {
                    iframe {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 1024px) {
    .dia__saludable {
        .container {
            .container {
                display: flex;
                justify-content: center;
                .listado__articulos {
                    display: block;
                }
            }
        }
    }
}
