.highlights {
    margin-top: 140px;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;

    .section {
        width: 90%;
        display: flex;
        justify-content: center;
        padding-right: 140px;

        .text__intro {
            width: 40%;
            margin: 40px;

            .boton__registro {
                background: $Sec;
                color: $bl;
                text-align: center;
                border-radius: 6px;
                padding: 10px;
                margin: 10px;

                &:hover {
                    transition: all .6s;
                    background: $Dor;
                }
            }

            .text__intro--title {
                margin: 10px 10px 20px 10px;
                h3 {
                    text-decoration: dashed;
                }
            }
        }

        .section__intro--img {
            width: 24%;
        }

        @media (min-width: 320px) and (max-width: 1024px) {
            display: block;
            padding-right: 0px;

            .text__intro {
                width: 100%;
                margin: 0px 0px 20px 0px;
            }

            .section__intro--img {
                width:  100%;
            }
        }
    }

    .otc {
        text-align: center;
    }
}

@media (min-width: 320px) and (max-width: 1024px) {
    .highlights {

        .high__title {
            margin-top: 80px;
            margin-left: 0px;
            text-align: center;
        }

        .high__body {
            margin-top: 180px;
            .section {
                .section__img {
                    display: none;
                }
                .section__list {
                    .list__part {
                        display: block;
                    }
                }
            }
        }

        .otc {
            margin-top: 300px;
        }
    }
}
