body {
    background: $Fondo;
    color: $bl;
    font-family: "Montserrat", sans-serif;
}

.icon-menu {
    color: $Sec;
    font-size: 34px;
}

.menu {
    background: $Pr;
    position: sticky;
    top: 0px;
    z-index: 3;
    height: 120px;

    .container {
        background: $Pr;
        img {
            width: 220px;
            margin: 10px;
            padding: 4px;
        }

        .social {
            .social__menu {
                list-style: none;
                display: flex;
                justify-content: end;

                .social__item {
                    a {
                        color: $bl;
                        padding: 10px;
                        font-size: 24px;

                        &:hover {
                            transition: all 0.6s;
                            color: $Sec;
                        }
                    }
                }
            }
        }
    }
}

.carousel__videomob {
    display: none;
}

.carousel__desk {
    .cta__bg {
        position: absolute;
        width: 600px;
        height: 160px;
        top: 90%;
        left: 14%;
        color: $bl;
        text-align: initial;
        font-size: 34px;
        padding: 10px 20px 20px 20px;
        border: 4px solid white;
        cursor: pointer;

        .bg__catalogo {
            display: flex;
            opacity: 0%;
            p {
                width: 640px;
                display: flex;
            }
        }

        .bg__txt {
            text-align: center;
            h2 {
                display: block;
                align-items: center;
                margin-bottom: 0px;
                font-size: 24px;
                text-align: initial;

                p {
                    margin-bottom: 0px;
                }

                .modernas {
                    margin-left: 8px;
                    font-size: 74px;
                }
            }
        }

        &:hover {
            color: $Pr;
            transition: all 0.6s;
            border: 4px solid $Pr;
            height: 186px;

            .bg__txt {
                transition: all 0.6s;
                background: $grisC;
            }

            .bg__catalogo {
                opacity: 100%;

                p {
                    color: $bl;
                }
            }
        }
    }
}

.icon-home,
.icon-briefcase,
.icon-picture,
.icon-video,
.icon-phone {
    color: $bl;
    &:hover {
        transition: all 0.6s;
        color: $Sec;
    }
}

.masthead {
    img {
        width: 100%;
        opacity: 10%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        z-index: -1;
    }
}

.sticky-wp {
    position: fixed;
    display: flex;
    right: 12px;
    justify-content: end;
    align-items: center;
    bottom: 90px;
    z-index: 1;

    .icon-whatsapp {
        opacity: 30%;
        font-size: 70px;
        color: $bl;
        display: flex;
        position: relative;
        right: -180px;

        p {
            font-size: 16px;
            padding-top: 16px;
            opacity: 0%;
            position: relative;
            right: 310px;
            top: 6px;
        }

        &:hover {
            transition: all 0.6s;
            color: $Sec;
            opacity: 100%;

            p {
                opacity: 100%;
            }
        }
    }
}

.masthead_nos {
    background: url(/img/background.jpg);
    width: 100%;
    height: 356%;
    opacity: 20%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.static__bg {
    .bg__static {
        width: 100%;
        opacity: 76%;
    }
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

a {
    color: $bl;
    text-decoration: none;
    &:hover {
        transition: all 0.4s;
        color: $Dor;
        text-decoration: none;
    }
}

.strong__aq {
    color: $Pr;
}

.carousel__mob {
    display: none;
}

.backg {
    width: 100%;
    opacity: 20%;
    position: absolute;
    z-index: 0;
}

.backg__mobile {
    display: none;
}

.inner__con {
    position: relative;
    width: 100%;
}

.ados {
    color: $Fondo;
    text-decoration: none;
    &:hover {
        transition: all 0.4s;
        color: $red;
        text-decoration: none;
    }
}

.logo-menu {
    width: 200px;
}

.divisor {
    width: 100%;
    background: $grisC;
    width: 100%;
    height: 280px;
    position: absolute;
}

.intro {
    padding: 40px 20px 20px 20px;
    margin-top: 20px;
    height: 1180px;

    .intro__img {
        z-index: 1;
        display: flex;
        justify-content: center;
        img {
            width: 96%;
            z-index: 1;
            margin: 20px;

            border: 2px solid $grisC;
        }
    }

    .container {
        position: relative;
        bottom: 600px;
        z-index: 1;
        text-align: left;

        .intro__txt {
            color: $bl;
            width: 400px;
            z-index: 1;

            .intro__logo {
                width: 540px;

                @media (min-width: 320px) and (max-width: 1024px) {
                    width: 220px;
                }
            }

            .intro__content {
                width: 640px;

                .intro__button {
                    .link__but {
                        background: $Sec;
                        color: $bl;
                        padding: 8px;
                        margin: 0px 0px 0px 0px;
                        border-radius: 4px;
                        width: 120px;
                        -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.51);
                        -moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.51);
                        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.51);

                        &:hover {
                            transition: all 0.4s;
                            background: $Pr;
                            color: $Sec;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 320px) and (max-width: 1024px) {
        .container {
            .intro__txt {
                width: 100%;

                .intro__content {
                    width: 100%;
                }
            }
        }
    }
}

.intro__dos {
    color: black;
    text-align: center;
    font-size: 28px;
    width: 100%;

    .intro__body {
        color: $bl;
        width: 100%;
        display: flex;
        justify-content: center;
        .section {
            width: 90%;
            display: flex;
            justify-content: space-between;
            .section__intro {
                margin: 20px;
                padding: 10px;
                width: 30%;
                display: flex;
                justify-content: center;

                .intro__img {
                    width: 380px;
                }

                .intro__txt {
                    position: absolute;
                    width: 320px;
                    top: 1740px;
                }
            }

            @media (min-width: 320px) and (max-width: 1024px) {
                display: block;

                .section__intro {
                    width: 90%;
                }
            }
        }
    }
}

.users__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icono__iniciar {
        height: 20px;
        margin-left: 12px;
        &:hover {
            transition: all 0.6s;
            opacity: 80%;
        }
    }

    .icono__registrar {
        height: 22px;
        margin-left: 12px;
        &:hover {
            transition: all 0.6s;
            opacity: 80%;
        }
    }
}

.boton_mapa {
    background: $Fondo;
    color: $Pr;
    border-radius: 12px 0px;
    padding: 4px;
    margin-top: 16px;

    &:hover {
        transition: all 0.6s;
        background: $bl;
    }
}

.opcion {
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 140px;
    text-align: center;

    .opcion__intro {
        margin: 40px;

        .opcion__title {
            margin: 40px;
        }
    }

    .section {
        width: 90%;
        .opcion__body {
            display: flex;
            justify-content: center;

            .body__item {
                color: $bl;
                width: 30%;
                padding: 12px;
                display: flex;
                justify-content: center;

                .item__img {
                    img {
                        width: 80%;
                    }
                }

                .item__text {
                    position: absolute;
                    padding: 10px;
                    width: 21%;
                    height: 524px;
                    z-index: 1;
                    background: rgba(0, 0, 0, 0.4);
                    cursor: pointer;

                    @media (min-width: 1024px) and (max-width: 1920px) {
                        height: 414px;
                        width: 20%;
                    }

                    &:hover {
                        transition: all 0.6s;
                        background: rgba(0, 0, 0, 0.2);
                    }

                    .item__text--png {
                        img {
                            width: 30%;
                        }
                    }

                    .boton__registro {
                        background: $Sec;
                        color: $bl;
                        text-align: center;
                        border-radius: 6px;
                        padding: 10px;
                        margin: 10px;

                        &:hover {
                            transition: all 0.6s;
                            background: $Dor;
                        }
                    }

                    .item__text--txt {
                        margin: 86px 0px 86px 0px;

                        @media (min-width: 1024px) and (max-width: 1920px) {
                            margin: 20px 0px 20px 0px;
                        }
                    }
                }
            }
        }

        @media (min-width: 320px) and (max-width: 1024px) {
            width: 100%;
            .opcion__body {
                display: block;

                .body__item {
                    width: 100%;

                    .item__img {
                        img {
                            width: 100%;
                        }
                    }

                    .item__text {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.testi {
    margin-top: 160px;
    .section {
        .testi__intro {
            color: black;
            text-align: center;
        }

        .testi__body {
            height: 560px;
            margin-top: 60px;

            .carousel-inner {
                height: 480px;
                .carousel-item {
                    .content {
                        display: flex;
                        justify-content: center;
                        .d-block {
                            width: 320px;
                        }

                        .carousel-caption {
                            color: black;
                            margin-top: 260px;
                            top: 80px;
                            height: 80px;
                        }
                    }
                }
            }
        }
    }
}

// .modal {
//     .modal-dialog {
//         .modal-content {
//             color: $Fondo;

//             .modal-header {
//                 text-align: center;
//             }

//             .modal-body {
//                 text-align: left;

//                 .form__req {
//                     margin: 40px;
//                     form {
//                         display: block;

//                         .section__form {
//                             display: flex;
//                             justify-content: space-evenly;
//                         }

//                         .mb-3 {
//                             a {
//                                 color: $Fondo;
//                                 &:hover {
//                                     transition: all 0.6s;
//                                     color: $Pr;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

.modal-backdrop {
    z-index: 0;
}

.solicitud {
    margin-top: 80px;
    position: relative;
    .container {
        .sol__body {
            display: flex;
            justify-content: space-evenly;
            margin-top: 80px;

            .body__section {
                width: 30%;
                text-align: center;
                a {
                    .sol__img {
                        margin: 20px;
                        opacity: 80%;
                        &:hover {
                            transition: all 0.4s;
                            opacity: 100%;
                        }
                    }
                }
            }
        }
    }
}

.slogan {
    text-align: center;
    position: relative;
    color: $Pr;
    .container {
        .slogan__txt {
            font-size: 30px;
        }
    }
}

@media (min-width: 320px) and (max-width: 1024px) {
    .menu {
        .navbar-nav {
            margin: 60px 0px 60px 0px;

            a {
                margin: 20px 0px 20px 0px;
            }
        }
    }

    .menu_redes {
        background: $Sec;
        width: 100%;
        height: 110px;
        align-items: center;
        position: sticky;
        text-align: center;
        top: 0px;
        z-index: 2;

        .container {
            display: block;
            justify-content: space-between;
            text-align: center;

            .mr__title {
                padding: 6px 4px 4px 4px;
                h1 {
                    font-size: 20px;
                }
            }

            .mr__social {
                display: flex;
                justify-content: space-between;
                padding-left: 100px;

                .social__title {
                    padding: 8px 4px 4px 4px;
                }

                .social__bar {
                    display: none;

                    .icon-facebook-circled,
                    .icon-instagram,
                    .icon-whatsapp,
                    .icon-location,
                    .icon-youtube-play {
                        width: 36px;
                        padding: 6px 4px 4px 4px;
                        color: $bl;
                        font-size: 26px;

                        &:hover {
                            transition: all 0.6s;
                            color: $Fondo;
                        }
                    }
                }
            }
        }
    }

    .carousel__videomob {
        display: block;

        iframe {
            border: 0;
            width: 100%;
            height: 490px;
        }
    }

    .static__bg {
        display: none;
    }

    .carousel__desk {
        display: none;
    }

    .carousel__mob {
        display: block;
    }

    .backg {
        display: none;
    }

    .backg__mobile {
        display: block;
        width: 100%;
        opacity: 20%;
        position: absolute;
        z-index: 0;
    }

    .intro {
        position: relative;
        text-align: center;
        padding: 0px;
        margin-top: 360px;
        height: auto;

        .container {
            display: block;
            .intro__img {
                img {
                    width: 20%;
                    margin: 0px;
                }
            }

            .intro__txt {
                width: 100%;

                img {
                    width: 10%;
                }
            }
        }
    }

    .solicitud {
        .container {
            .sol__title {
                text-align: center;
            }

            .sol__body {
                display: block;

                .body__section {
                    width: 100%;
                }
            }
        }
    }

    .section__map {
        .container {
            text-align: center;
        }

        .map__body {
            margin-top: 40px;
            margin-bottom: 0px;
            height: 740px;
            display: contents;
            padding: 0px;

            .map__txt--box {
                position: inherit;
                width: 94%;
                margin-left: 10px;
                padding: 0px;
                height: 410px;
                margin-bottom: 40px;

                .container {
                    width: 100%;
                    margin-top: 20px;
                }
            }
        }
    }

    .inner__con {
        display: none;
    }

    .modal {
        .modal-dialog {
            .modal-content {
                .modal-body {
                    .form__req {
                        width: 100%;
                        margin: 10px 0px 0px 0px;
                        form {
                            .section__form {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}
