.contacto {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;

  .container {
    margin-bottom: 80px;
  }

  .bmap {
    border-radius: 6px;
    width: 540px;
    height: 320px;
    background: $mor;
    color: white;
    padding: 20px;
    position: absolute;
    margin-top: 140px;
    right: 20px;
    z-index: 1;
  }

  .mapa {
    iframe {
      z-index: 0;
      margin-top: 20px;
    }
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .contacto {
    margin-top: 40px;
    .bmap {
      width: 90%;
      height: 420px;
      margin: 0px;
    }

    .mapa {
      iframe {
        z-index: 0;
        margin-top: 150%;

        @media (min-width: 359px) {
          margin-top: 120%;
        }
      }
    }
  }
}
