.privacy {
    margin-top: 60px;
    margin-bottom: 60px;

    a {
        color: $mor;
        text-decoration: none;
        &:hover {
            transition: all;
            color: $morb;
        }
    }

    .container {
        .privacy__header {
            margin-top: 60px;
            text-align: center;
        }

        .container {
            margin-top: 60px;
            .privacy__body {
                width: 90%;
            }
        }
    }
}

.cookies {
    margin-top: 60px;
    margin-bottom: 60px;

    a {
        color: $mor;
        text-decoration: none;
        &:hover {
            transition: all;
            color: $morb;
        }
    }

    .container {
        margin-top: 60px;
        .cookies__header {
            margin-top: 60px;
            text-align: center;
        }

        .cookies__body {
            margin-top: 60px;

            .container {
                .bodycookies {
                    .container {
                        text-align: center;
                    }
                }
            }
        }
    }
}