.socios__comerciales {
    margin-top: 60px;
    margin-bottom: 60px;
    .container {
        text-align: center;
        .socios__body {
            margin-top: 40px;
            .container {
                display: flex;
                @media (min-width: 320px) and (max-width: 1280px) {
                    display: block;
                }
                .socio {
                    width: 30%;
                    margin: 20px;
                    display: block;
                    @media (min-width: 320px) and (max-width: 1280px) {
                        width: 100%;
                        margin: 0px;
                    }

                    .socio__img {
                        img {
                            height: 60px;
                            &:hover {
                                transition: all .6s;
                                opacity: 90%;
                            }

                            @media (min-width: 320px) and (max-width: 1280px) {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .k1n0 {
                            @media (min-width: 320px) and (max-width: 1280px) {
                                width: 40%;
                            }
                        }
                    }

                    .socio__txt {
                        margin: 20px;
                        display: block;
                    }
                }
            }
        }
    }
}