.wp-button {
    z-index: 2;
    position: fixed;
    margin-left: 280px;
    margin-top: 160%;
    display: flex;
  
    img {
      width: 80px;
      position: absolute;
      bottom: 40px;
      &:hover {
        transition: all 0.6s;
        border-radius: 200px 200px 200px 200px;
        -webkit-box-shadow: 200px 200px 200px 200px;
        -moz-box-shadow: 200px 200px 200px 200px;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      }
    }
  }