{{> back}}
{{> bg}}

<!--Introducción-->
<div class="intro">
    <div class="container">
        <div class="logo-intro">
            <img src="/img/nosotros2.png" alt="nosotros-teacompano" title="Teacompaño - Nosotros">
        </div>
        <div class="txt-intro">
            <div class="header">
                <h1><strong>Teacompaño</strong></h1>
                {{!-- <h2>Cuidados de enfermería en la comodidad de su casa</h2> --}}
                <h2><strong>Salud integral domiciliaria</strong> en <strong>Medellín</strong></h2>
            </div>
            <div class="intro-body">
                <p>Somos una empresa de <strong>salud domiciliaria</strong>, donde contamos con un gran equipo
                    interdisciplinario
                    que brinda servicios con <strong>calidad humana</strong>, de forma oportuna, responsable y
                    eficiente, aportando
                    a <strong>la recuperación de los pacientes</strong> y brindando <strong>apoyo integral a la
                        familia</strong>.
                </p>
                {{!-- <p>Somos una empresa de salud en casa, contamos con un gran equipo interdisciplinario que brinda
                    cuidados de enfermería en el domicilio de forma oportuna, responsable y eficiente, con calidad
                    y calidez, aportando a la recuperación de los pacientes y brindando apoyo integral a la familia.
                </p> --}}
            </div>
        </div>
    </div>
</div>
<!--Fin Introducción-->

<!--Acceso Nosotros-->
<div class="nos__section">
    <img src="/img/section-nos.jpg" alt="" class="nos__access">
    <div class="nos__txt--section">
        <div class="container">
            <div class="text-sect">
                <h3><strong>Conoce tu equipo de Salud Integral</strong></h3>
                <p>En <strong>Teacompaño</strong> brindamos <strong>servicios integrales de salud y cuidados de
                        enfermería
                        en el domicilio</strong> y estamos registrados ante la dirección seccional de salud y con un
                    equipo
                    de profesionales preparados
                    con el fin de brindar una asistencia eficaz en <strong>salud para toda la familia</strong>.
                </p>
            </div>
            <div class="text-but">
                <a href="/nosotros" class="nos-link">Conócenos</a>
            </div>
        </div>
    </div>
</div>
<!--Fin Acceso Nosotros-->

<!--Acceso Servicios-->
<div class="ser__section">
    <img src="/img/section-ser.jpg" alt="" class="ser__access">
    <div class="ser__txt--section">
        <div class="container">
            <div class="text-sect">
                <h3><strong>Servicios Teacompaño</strong></h3>
                <p>
                    Conozca nuestros <strong>Servicios Teacompaño</strong> con la calidad y la atención humana y
                    profesional
                    que necesita su familia en los momentos más difíciles con el cuidado y la vigilancia que requiere el
                    cuidado y la salud de nuestros pacientes.
                </p>
            </div>
            <div class="text-but">
                <a href="/servicios" class="nos-link">Servicios</a>
            </div>
        </div>
    </div>
</div>
<!--Fin Acceso Servicios-->

<!--Acceso Nosotros-->
<div class="nos__section">
    <img src="/img/section-ds.jpg" alt="" class="nos__access">
    <div class="nos__txt--section">
        <div class="container">
            <div class="text-sect">
                <h3><strong>Día Saludable | Teacompaño</strong></h3>
                <p>
                    Entérate de tips, consejos y noticias del campo de la salud en Colombia y el mundo entero
                    con temas novedosos e increíbles ideas para cuidar de tu salud y la de tu familia en
                    todo momento.
                </p>
            </div>
            <div class="text-but">
                <a href="/dia-saludable" class="nos-link">Ingresa</a>
            </div>
        </div>
    </div>
</div>
<!--Fin Acceso Nosotros-->

<!--Mapa y contacto-->
<div class="contacto" id="contacto">
    <div class="container">
        <div class="hcon">
            <h3>Contáctanos</h3>
            <h2>O pide una cita con nosotros hoy mismo</h2>
        </div>
        <div class="conintro">
            <p>Escríbenos o llámanos indicándonos el servicio que deseas solicitar, incluyendo tu dirección y
                tus datos de contacto y uno de nuestros asesores te brindará asesoría especializada.
            </p>
        </div>
    </div>
    <div class="bmap">
        <div class="hform">
            <p>
                Estamos ubicados en el barrio guayabal, cerca a la Terminal de Transportes del Sur del Valle de
                Aburrá.<br><br>
            </p>
            <h5>Visítanos<br>
                O pide una cita con nosotros
            </h5>
            <p>* Rellene los datos del formulario y una enfermera<br>se pondrá en contacto para concretar el servicio.
            </p>
            <a href="/usuarios/add" class="btn btn-success">Solicitar</a>
        </div>
    </div>
    <div class="mapa">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.40179101689!2d-75.59214138528334!3d6.210620195504064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4429970cef9547%3A0x8be802b3bf485af2!2sTeacompa%C3%B1o!5e0!3m2!1ses!2sco!4v1580331245372!5m2!1ses!2sco"
            style="width: 100%; height: 540px;" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>
<!--Fin Mapa y contacto-->

<!--Socios comerciales-->
<div class="socios__comerciales">
    <div class="container">
        <div class="socios__title">
            <h3>Conoce</h3>
            <h2>Nuestros socios comerciales</h2>
        </div>
        <div class="socios__body">
            <div class="container">
                <div class="socio">
                    <div class="socio__img">
                        <a href="https://www.clinicaisis.com/" target="_blank" rel="nofollow">
                            <img src="/img/socios/logo-isis.png" alt="">
                        </a>
                    </div>
                    <div class="socio__txt">
                        <h4>Clínica Isis</h4>
                        <p>Institución prestadora de servicios en salud</p>
                    </div>
                </div>
                <div class="socio">
                    <div class="socio__img">
                        <a href="https://www.farmashops.com/" target="_blank" rel="nofollow">
                            <img src="/img/socios/logo-fs.png" alt="">
                        </a>
                    </div>
                    <div class="socio__txt">
                        <h4>FarmaShops</h4>
                        <p>Aplicación móvil de productos farmacéuticos y servicios de enfermería</p>
                    </div>
                </div>
                <div class="socio">
                    <div class="socio__img">
                        <a href="https://www.k1n0.com.co/" target="_blank" rel="nofollow">
                            <img class="k1n0" src="/img/socios/logo-k1n0.jpg" alt="">
                        </a>
                    </div>
                    <div class="socio__txt">
                        <h4>K1N0 C0M</h4>
                        <p>Publicidad y comunicación digital para empresas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin Socios comerciales-->