<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NLNMJFH');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="Te Acompaño - Salud domiciliaria integral en Medellín">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.teacompano.com.co/">
    <meta property="og:image" content="https://www.teacompano.com.co/img/logo-web.jpg">
    <meta property="og:local" content="es_LA">
    <meta name="description"
        content="Enfermería y cuidados integrales de salud a domicilio - Teacompaño, salud integral y servicios de enfermería en casa.">
    <meta name="keywords"
        content="enfermeria en casa, enfermería en casa, enfermera a domicilio, enfermero a domicilio, cuidados en casa, teacompaño, enfermeria domiciliaria, enfermería domiciliaria
    enfermería en medellín, enfermería a domicilio en medellín, enfermeria a domicilio en medellín, enfermera a domicilio en medellín, enfermero a domicilio en medellín, en medellin, enfermeria, enfermería,
    cuidados, cuidados intrahospitalarios y postquirúrgico, consulta médica en el domicilio, consulta médica en casa, asesoria juridica en salud, asesoría jurídica en salud, acompañamiento, acompañamiento a citas médicas
    cuidados paliativos, cuidados paliativos en Medellín, cuidar un bebé recién nacido, cuidado del neonato, cuidado, cuidado recien nacido, enfermera 24 horas, enfermero 24 horas">
    <meta name="author" content="k1n0com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/ico" href="/img/favicon.ico">
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-112467830-1');
        gtag('config', 'AW-821549156');
    </script>
    <script>
        function gtag_report_conversion(url) {
            var callback = function () {
                if (typeof (url) != 'undefined') {
                    window.location = url;
                }
            };
            gtag('event', 'conversion', {
                'send_to': 'AW-821549156/fShLCLW6pMsBEOSw34cD',
                'transaction_id': '',
                'event_callback': callback
            });
            return false;
        }
    </script>
    <meta name="google-site-verification" content="QwlcFpNAtjCoRaCZu2uwG34rx6jbd6HRDJzTVdEt_7Q" />
    <script
        type="application/ld+json">{"@context": "https://schema.org","@type": "Organization","url": "http://www.teacompano.com.co/","contactPoint":[{"@type": "ContactPoint","telephone": "+57-4-310-638-4443","contactType": "customer service"}],"address": {"@type": "PostalAddress","addressLocality": "Medellín, Colombia","postalCode": "050024","streetAddress": "Calle 1B #66-94"},"email": "enfermeria@teacompano.com.co","member": [{"@type": "Organization"}],"alumni": [{"@type": "Person","name": "Sebastian"}],"name": "Teacompano","telephone": "( 57 4) 310 638 4443"}</script>
    <title>TeAcompaño - Salud domiciliaria integral en Medellín</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLNMJFH" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{> nav}}

    {{> message}}

    {{{ body }}}

    {{> wp}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="/js/sitemap.js"></script>
</body>

{{> footer}}

</html>