<img src="/img/casa/casa-edit.jpg" alt="Inner Nosotros Estudios Prego" title="Nosotros | Estudios Prego"
    class="inner__nos">
<img src="/img/modelos/prego-model-12.jpg" alt="Inner Nosotros Estudios Prego Mobile" title="Nosotros | Estudios Prego"
    class="inner__mob">

{{!-- Miga de pan --}}
<div class="miga">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Nosotros | Estudios Prego | Modelos Webcam en
                    Medellín</li>
            </ol>
        </nav>
    </div>
</div>

{{!-- Title --}}
<div class="nos">
    <div class="container">
        <div class="nos__header">
            <h1>Nosotros somos | Estudios Prego | Estudio Webcam en Medellín</h1>
            <p>
                Somos un estudio de modelaje WebCam en Colombia con 2 años en el mercado y afirmando
                nuestro compromiso con la formación de modelos y la producción y difusión audiovisual en
                la industria del entretenimiento para adultos.
            </p>
        </div>

        <div class="nos__body">

            <div class="nos__body--item">
                <div class="item--title">
                    <h3 class="strong__aq">Misión</h3>
                </div>
                <div class="item--body">
                    <img src="/img/historia/prego-model-02.jpg"
                        alt="Historia | Estudios Prego | Estudio Webcam en Medellín"
                        title="Estudios Prego | Estudio Webcam en Medellín | Historia">
                    <p>
                        Nuestra misión permanente es ayudarte a crecer y covertirte en una estrella en el
                        entretenimiento
                        para adultos a nivel mundial, conseguir autonomía y el éxito mediante procesos pensados en
                        generar mayor productividad, calidad de vida y proyecciones.
                    </p>
                </div>
            </div>

            <div class="nos__body--item">
                <div class="item--title">
                    <h3 class="strong__aq">Trabajo profesional y transparente</h3>
                </div>
                <div class="item--body">
                    <div class="item__body--content">
                        <div class="body__list--title">
                            <h3>¿Qué ofrecemos?</h3>
                        </div>
                        <ul class="item__body--list">
                            <li class="list__item">
                                Capacitación y formación profesional
                            </li>
                            <li class="list__item">
                                Monitoreo y acompañamiento 24/7
                            </li>
                            <li class="list__item">
                                Tráfico y posicionamiento
                            </li>
                            <li class="list__item">
                                Instalaciones y tecnología de última generación
                            </li>
                            <li class="list__item">
                                Kit de inicio
                            </li>
                            <li class="list__item">
                                Horarios flexibles
                            </li>
                            <li class="list__item">
                                Total discreción y privacidad
                            </li>
                        </ul>
                    </div>
                    <img src="/img/historia/prego-model-01.JPG"
                        alt="Estudios Prego | Estudio Webcam en Medellín"
                        title="Estudios Prego | Estudio Webcam en Medellín | Estilo único y elegante">
                </div>
            </div>

            <div class="nos__body--item">
                <div class="item--title">
                    <h3 class="strong__aq">Valores</h3>
                </div>
                <div class="item--body">
                    <img src="/img/historia/prego-model-00.JPG"
                        alt="Servicio de primera | Estudios Prego | Estudio Webcam en Medellín"
                        title="Servicio de primera | Estilo único y elegante">
                    <p>
                        En <strong>Estudios Prego</strong> nos comprometemos con ofrecerte un Servicio
                        con calidad humana y con total respeto por el trabajo y la calidad de las transmisiones
                        de todos nuestros modelos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- Fin Title --}}