<img src="/img/bg/bg-nosotros.jpg" alt="Inner Nosotros Rodriguez y Betancur" title="Nosotros | Rodriguez y Betancur"
    class="inner__nos">
<img src="/img/bg/bg-nosotros-mov.jpg" alt="Inner Nosotros Rodriguez y Betancur Mobile"
    title="Nosotros | Rodriguez y Betancur" class="inner__mob">

{{!-- Miga de pan --}}
<div class="miga">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Empresa | Rodriguez y Betancur | Abogados
                    Penalistas en Medellín</li>
            </ol>
        </nav>
    </div>
</div>

{{!-- Title --}}
<div class="nos">
    <div class="container">
        <div class="nos__header">
            <h1>Nosotros somos | Rodriguez y Betancur | Abogados Penalistas en Medellín</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, iste. Aspernatur, quod fugiat in provident
                suscipit nihil dicta deserunt id fuga asperiores vero reprehenderit? Ipsum, commodi. Maiores hic
                veritatis voluptatibus.
            </p>
        </div>

        <div class="nos__body">

            <div class="nos__body--item">
                <div class="item--title">
                    <h3 class="strong__aq">Historia</h3>
                </div>
                <div class="item--body">
                    <img src="/img/historia/historia-rybabogados.jpg"
                        alt="Historia | Rodriguez y Betancur | Abogados Penalistas en Medellín"
                        title="Rodriguez y Betancur | Abogados Penalistas en Medellín | Historia">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea sed fugiat non voluptas laboriosam,
                        a neque sit expedita ullam explicabo ipsam sapiente dignissimos dolores atque officiis,
                        doloribus vitae. Aperiam, provident.
                    </p>
                </div>
            </div>

            <div class="nos__body--item">
                <div class="item--title">
                    <h3 class="strong__aq">Trabajo profesional y transparente</h3>
                </div>
                <div class="item--body" style="text-align: right;">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In eligendi ad quia porro voluptates
                        blanditiis quam sunt est aut enim impedit assumenda facere, molestiae error ut voluptatem esse?
                        Suscipit, incidunt?
                    </p>
                    <img src="/img/historia/historia-rybabogados-b.jpg"
                        alt="Estilo único y elegante | Rodriguez y Betancur | Abogados Penalistas en Medellín"
                        title="Rodriguez y Betancur | Abogados Penalistas en Medellín | Estilo único y elegante">
                </div>
            </div>

            <div class="nos__body--item">
                <div class="item--title">
                    <h3 class="strong__aq">Compromiso</h3>
                </div>
                <div class="item--body">
                    <img src="/img/historia/historia-rybabogados-c.jpg"
                        alt="Servicio de primera | Rodriguez y Betancur | Abogados Penalistas en Medellín"
                        title="Servicio de primera | Estilo único y elegante">
                    <p>
                        Prestamos un excelente <strong class="strong__aq">Servicio De Lavado, Reparación y
                            mantenimiento</strong> de todos nuestros
                        productos, <strong class="strong__aq">servicio personalizado</strong> y atendemos directamente
                        en su domicilio.<br>
                        <br><i>Brindamos la mejor asesoría, seguridad, calidad y garantía.</i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- Fin Title --}}