{{> inner}}

<div class="miga__pan container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nosotros</a></li>
        </ol>
    </nav>
</div>

<!--Sección nosotros-->
<div class="container" id="nosotros">
    <div class="nosotros">
        <h1><strong>Nosotros somos | Teacompaño</strong></h1>
        <div class="bnos">
            <div class="nos-a">
                <div class="nosa-img">
                    <img class="basics" src="img/cuidados-basicos-2.png" alt="mision" title="Misión Teacompaño">
                </div>
                <div class="nosa-txt">
                    <div class="hnosa">
                        <h3>Misión</h3>
                    </div>
                    <p>Somos una empresa que brinda servicios de cuidado y acompañamiento de enfermería en casa y en
                        las instituciones de salud, comprometidos con ofrecer personal idóneo y profesional,
                        brindando una atención con calidad y calidez tanto al paciente como a su familia.</p>
                </div>
            </div>
            <div class="nos-b">
                <div class="nosa-txt">
                    <div class="hnosa">
                        <h3>Visión</h3>
                    </div>
                    <p>En el 2025 seremos una empresa de cuidados de enfermería reconocida en el medio por su
                        excelencia, y por su personal personal idóneo y humano,, comprometidos con el bienestar de
                        sus pacientes y la tranquilidad de su familia.</p>
                </div>
                <div class="nosa-img">
                    <img class="aencasa" src="img/asesoria-en-casa-2321x181.png" alt="vision" title="Visión Teacompaño">
                </div>
            </div>
            <div class="nos-a">
                <div class="nosa-img">
                    <img class="inhos" src="img/intrahospitalarios-3.png" alt="valores" title="Valores Teacompaño">
                </div>
                <div class="nosa-txt">
                    <div class="hnosa">
                        <h3>Nuestros Valores</h3>
                    </div>
                    <ul>
                        <li>Ética</li>
                        <li>Responsabilidad</li>
                        <li>Respeto</li>
                        <li>Espíritu de servicio</li>
                        <li>Confidencialidad</li>
                        <li>Trabajo en equipo</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin Sección nosotros-->

<!--Marketing claims-->
<div class="claims">
    <div class="container">
        <div class="hclaims">
            <h3>En Teacompaño</h3>
            <h2>Destacamos por:</h2>
        </div>
        <div class="bclaims">
            <div class="claim-a">
                <a href="">
                    <img src="img/claim-a.png" alt="comprometidos-salud">
                    <p>Comprometidos con<br>la salud de nuestros clientes.</p>
                </a>
            </div>
            <div class="claim-b">
                <a href="">
                    <img src="img/claim-b.png" alt="llegamos-a-tiempo">
                    <p>Llegamos a tiempo<br>para su cuidado.</p>
                </a>
            </div>
            <div class="claim-c">
                <a href="">
                    <img src="img/claim-c.png" alt="protegemos-privacidad">
                    <p>Cuidamos de su familia<br>y su privacidad.</p>
                </a>
            </div>
        </div>
    </div>
</div>
<!--Fin Marketing claims-->