<img src="/img/decortinas-politicas.jpg" alt="Inner Nosotros De Cortinas e Interiores" title="Nosotros | De Cortinas e Interiores" class="inner__nos">
<img src="/img/inner-servicios-kino-mob.jpg" alt="Servicios De Cortinas e Interiores" title="Servicios | De Cortinas e Interiores" class="inner__mob">

{{!-- Privacy --}}
<div class="privacy">
    <div class="container">
        <div class="privacy__header">
            <h1>Política de Privacidad | De Cortinas e Interiores</h1>
        </div>
        <div class="container">
            <div class="privacy__body">
                <p>
                    En <strong>De Cortinas e Interiores</strong>, valoramos La privacidad y confianza de nuestros clientes y aseguramos que tengan
                    conocimiento de que la privacidad y protección de sus datos personales de acuerdo a nuestra <strong>Política de Privacidad</strong>
                    y en estricto acatamiento a la <i>Resolución 2256 de 2020 sobre Política de Seguridad y Privacidad de la Información</i>,
                    incluyendo la <i>Resolución 924 de 2020 sobre Políticas de Tratamiento de Datos Personales del Ministerio de las TIC</i>
                    sobre las <strong>Condiciones de uso</strong> del sitio web <strong><a href="https://www.decortinaseinteriores.com/">De Cortinas e Interiores</a></strong>,
                    a efecto de garantizar la privacidad y el derecho a la protección de los datos de las personas.<br>
                    
                    <br><h3>Responsables del uso de datos personales | De Cortinas e Interiores</h3>
                    
                    <br>En representación de la empresa De Cortinas e Interiores{{!-- S.A.S.--}}, firma <strong>___________________</strong>,
                    en la ciudad de Medellín el _______________, con registro en la dirección <strong>______________</strong> en la ciudad de <strong>_____________</strong><br><br>

                    <br><h3>Condiciones de uso de datos | De Cortinas e Interiores</h3>

                    <br>Los datos personales de los usuarios registrados en la web <strong><a href="https://www.decortinaseinteriores.com/">De Cortinas e Interiores.com</a></strong>
                    serán necesarios para cumplir con los objetivos planteados para ofrecer los productos a toda clase de usuarios, clientes y público objetivo incluyendo empresas,
                    industrias, centros comerciales u otros.<br><br>

                    <br><h3>Medios de atención | De Cortinas e Interiores</h3>

                    <br>En caso de que alguno de nuestros usuarios sienta que el tratamiento de sus datos personales, así como cualquier otro derecho 
                    ha sido vulnerado, o que han sido utilizados para otros fines, favor de presentar una solicitud por escrito dirigida a nuestro
                    Departamento Jurídico a través del siguiente correo electrónico:<br><br>
                    <ul>
                        <li>De Cortinas e Interiores: <a href="mailto:decortinaseinteriores@gmail.com" target="_blank" rel="nofollow">decortinaseinteriores@gmail.com</a>
                        </li>
                    </ul>
                    <br><br>
                </p>
            </div>
        </div>
    </div>
</div>