{{> inner}}

<div class="miga__pan container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Servicios</a></li>
        </ol>
    </nav>
</div>

<!--Sección servicios-->
<div class="container" id="servicios">
    <div class="servicios">
        <h1><strong>Servicios de Salud Integral | Teacompaño</strong></h1>
        <div class="bser">
            <div class="ser-a">
                <div class="sera-img">
                    <img src="/img/cuidados-basicos-2.png" alt="cuidados-enfermeria-teacompano"
                        title="Cuidados de enfermería en el domicilio">
                </div>
                <div class="sera-txt">
                    <div class="hsera">
                        <h3>Cuidados de enfermería en el domicilio</h3>
                    </div>
                    <p>Acompañamos a nuestros pacientes en la realización de todas las actividades diarias que
                        conforman su ciclo vital, la recuperación de su salud y el reintegro a las actividades
                        familiares y sociales</p>
                    <div class="container">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modala">
                            Ver Más
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modala" tabindex="-1" aria-labelledby="modala" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modala">Cuidados de enfermería en el
                                            domicilio</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="servicio__individual">
                                            <div class="container">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <img src="/img/cuidados-basicos-2.png" alt="" class="ser__img">
                                                        <ul class="ser__item">
                                                            <li>Control de los signos vitales</li>
                                                            <li>Prevención y manejo de úlceras por la posición y de todo
                                                                tipo de heridas</li>
                                                            <li>Acompañamiento en actividades lúdicas y de recreación,
                                                                así como a citas médicas,
                                                                reuniones sociales y/o familiares</li>
                                                            <li>Contribuimos al reintegro del paciente a sus funciones
                                                                diarias en el entorno familiar y
                                                                social</li>
                                                            <li>Administración de medicamentos</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/usuarios/add" class="btn btn-success">Solicitar</a>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ser-b">
                <div class="sera-txt">
                    <div class="hsera">
                        <h3>Cuidados de enfermería intrahospitalario y postquirúrgico</h3>
                    </div>
                    <p>Brindamos asistencia inmediata luego de la cirugía, evitando la presencia de complicaciones
                        que pueden ser prevenibles, logrando una recuperación exitosa y la tranquilidad familiar.
                    </p>
                    <div class="container">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalb">
                            Ver Más
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modalb" tabindex="-1" aria-labelledby="modalb" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalb">Cuidados de enfermería intrahospitalario y
                                            postquirúrgico</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="servicio__individual">
                                            <div class="container">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <img src="/img/intrahospitalarios-3.png" alt=""
                                                            class="ser__img">
                                                        <ul class="ser__item">
                                                            <li>Asistencia inmediata luego de la cirugía.</li>
                                                            <li>Vigilamos los signos de infección, la respuesta al
                                                                tratamiento farmacológico y los
                                                                signos de alarma.</li>
                                                            <li>Observamos la respuesta física, clínica y psicológica
                                                                del paciente.</li>
                                                            <li>Atendemos y controlamos el dolor posquirúrgico.</li>
                                                            <li>Control de signos vitales, asistencia en los alimentos y
                                                                en la eliminación.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/usuarios/add" class="btn btn-success">Solicitar</a>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sera-img">
                    <img src="img/intrahospitalarios-3.png"
                        alt="cuidados-enfermeria-intrahospitalario-postquirurgico-teacompano"
                        title="Cuidados de enfermería intrahospitalario y postquirúrgico">
                </div>
            </div>
            <div class="ser-a">
                <div class="sera-img">
                    <img src="/img/asesoria-en-casa-2321x181.png" alt="consulta-medica-en-el-domicilio-teacompano"
                        title="Consulta médica general en el domicilio">
                </div>
                <div class="sera-txt">
                    <div class="hsera">
                        <h3>Consulta médica general en el domicilio</h3>
                    </div>
                    <p>Nuestro personal cuenta con los mejores niveles de formación y capacitación. Por eso también
                        asesoramos a través de las visitas a su hogar, encontrando las mejores soluciones a las
                        complicaciones en la salud y en la tranquilidad de su familia.</p>
                    <div class="container">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalc">
                            Ver Más
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modalc" tabindex="-1" aria-labelledby="modalc" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalc">Consulta médica general en el domicilio</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="servicio__individual">
                                            <div class="container">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <img src="/img/asesoria-en-casa-2321x181.png" alt=""
                                                            class="ser__img">
                                                        <ul class="ser__item">
                                                            <li>Control de signos vitales.</li>
                                                            <li>Evaluación del estado clínico del paciente.</li>
                                                            <li>Diagnóstico de enfermedades y heridas.</li>
                                                            <li>Tratamiento médico programado.</li>
                                                            <li>Recomendaciones específicas para el paciente y su
                                                                familia.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/usuarios/add" class="btn btn-success">Solicitar</a>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ser-b">
                <div class="sera-txt">
                    <div class="hsera">
                        <h3>Acompañamiento a citas médicas</h3>
                    </div>
                    <p>Nos convertimos en el apoyo familiar de los pacientes, procurando la recuperación, la
                        comodidad y contribuyendo con las instituciones de salud para que puedan continuar con sus
                        actividades diarias.
                    </p>
                    <div class="container">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modald">
                            Ver Más
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modald" tabindex="-1" aria-labelledby="modald" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modald">Acompañamiento a citas médicas</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="servicio__individual">
                                            <div class="container">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <img src="/img/acompanamiento-citas.png" alt=""
                                                            class="ser__img">
                                                        <ul class="ser__item">
                                                            <li>Acompañamiento a citas médicas.</li>
                                                            <li>Terapias físicas y de rehabilitación.</li>
                                                            <li>Acompañamiento en control de enfermedades y tratamientos
                                                                médicos.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/usuarios/add" class="btn btn-success">Solicitar</a>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sera-img">
                    <img src="/img/acompanamiento-citas.png" alt="acompanamiento-citas-teacompano"
                        title="Acompañamiento a citas médicas">
                </div>
            </div>
            <div class="ser-a">
                <div class="sera-img">
                    <img src="/img/asesoria-juridica-2.png" alt="asesoria-juridica-salud-teacompano"
                        title="Asesoría Jurídica en salud">
                </div>
                <div class="sera-txt">
                    <div class="hsera">
                        <h3>Asesoría Jurídica en salud</h3>
                    </div>
                    <p>Entendemos los percances que tienen algunos pacientes frente al manejo de situaciones de
                        carácter jurídico que se presentan por casos como la negligencia médica o al sentirse
                        vulnerados sus derechos por parte de instituciones de salud.</p>
                    <div class="container">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modale">
                            Ver Más
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modale" tabindex="-1" aria-labelledby="modale" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modale">Asesoría Jurídica en salud</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="servicio__individual">
                                            <div class="container">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <img src="/img/asesoria-juridica-2.png" alt="" class="ser__img">
                                                        <ul class="ser__item">
                                                            <li>Asesoría jurídica sobre instituciones de salud.</li>
                                                            <li>Consulta de procesos y normas.</li>
                                                            <li>Atención en la defensa de sus derechos.</li>
                                                            <li>Consultas por negligencia médica.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/usuarios/add" class="btn btn-success">Solicitar</a>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ser-b">
                <div class="sera-txt">
                    <div class="hsera">
                        <h3>Piscología Clínica</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repudiandae quis sapiente magnam
                        facere! Nam harum dignissimos ab, exercitationem similique molestias molestiae itaque quidem
                        praesentium culpa soluta cum ex illum.
                    </p>
                    <div class="container">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalf">
                            Ver Más
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modalf" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalf">Psicología Clínica</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="servicio__individual">
                                            <div class="container">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <img src="/img/acompanamiento-citas.png" alt=""
                                                            class="ser__img">
                                                        <ul class="ser__item">
                                                            <li>Acompañamiento a citas médicas.</li>
                                                            <li>Terapias físicas y de rehabilitación.</li>
                                                            <li>Acompañamiento en control de enfermedades y tratamientos
                                                                médicos.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/usuarios/add" class="btn btn-success">Solicitar</a>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sera-img">
                    <img src="/img/psicologia-clinica.png" alt="psicologia-clinica-teacompano"
                        title="Acompañamiento a citas médicas">
                </div>
            </div>
            <div class="ser-a">
                <div class="sera-img">
                    <img src="/img/atencion-crisis.png" alt="asesoria-juridica-salud-teacompano"
                        title="Asesoría Jurídica en salud">
                </div>
                <div class="sera-txt">
                    <div class="hsera">
                        <h3>Atención psicológica en crisis</h3>
                    </div>
                    <p>Entendemos los percances que tienen algunos pacientes frente al manejo de situaciones de
                        carácter jurídico que se presentan por casos como la negligencia médica o al sentirse
                        vulnerados sus derechos por parte de instituciones de salud.</p>
                    <div class="container">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalg">
                            Ver Más
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modalg" tabindex="-1" aria-labelledby="modale" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalg">Psicología de la emergencia</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="servicio__individual">
                                            <div class="container">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <img src="/img/atencion-crisis.png" alt="" class="ser__img">
                                                        <ul class="ser__item">
                                                            <li>Asesoría jurídica sobre instituciones de salud.</li>
                                                            <li>Consulta de procesos y normas.</li>
                                                            <li>Atención en la defensa de sus derechos.</li>
                                                            <li>Consultas por negligencia médica.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/usuarios/add" class="btn btn-success">Solicitar</a>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin Sección servicios-->