<img src="/img/inner-nosotros-kino.jpg" alt="Inner Nosotros De Cortinas e Interiores" title="Nosotros | De Cortinas e Interiores.com" class="inner__nos">
<img src="/img/inner-nosotros-kino-mob.jpg" alt="Inner Nosotros De Cortinas e Interiores Mobile" title="Nosotros | De Cortinas e Interiores.com" class="inner__mob">

<div class="sitemap">
    <div class="container">
        <div class="sitemap__header">
            <h1>Mapa de Sitio | De Cortinas e Interiores.com</h1>
        </div>
        <div class="container">
            <div class="bodymap">
                <ul class="sitemap__list">
                    <li class="sitemap__item"><a href="/" class="sitemap__link">Inicio</a>
                        <ul>
                            <li class="sitemap__item"><a href="/signin" class="sitemap__link">Iniciar Sesión</a></li>
                            <li class="sitemap__item"><a href="/signup" class="sitemap__link">Registrarse</a></li>
                        </ul>
                    </li>
                    <li class="sitemap__item"><a href="/nosotros" class="sitemap__link">Nosotros</a></li>
                    <li class="sitemap__item"><a href="/servicios" class="sitemap__link">Servicios</a></li>
                    <li class="sitemap__item"><a href="/cookies" class="sitemap__link">Política de Cookies</a></li>
                    <li class="sitemap__item"><a href="/privacy" class="sitemap__link">Política de Privacidad</a></li>
                    <li class="sitemap__item"><a href="/sitemap" class="sitemap__link">Sitemap</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>